@import "compass";
@import "variables";
@import "_settings";
@import "fontawesome/_variables.scss";


@font-face {
    font-family: 'aleoregular';
    src: url('../resources/fonts/Aleo-Regular-webfont.eot');
    src: url('../resources/fonts/Aleo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/fonts/Aleo-Regular-webfont.woff') format('woff'),
         url('../resources/fonts/Aleo-Regular-webfont.ttf') format('truetype'),
         url('../resources/fonts/Aleo-Regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleoitalic';
    src: url('../resources/fonts/Aleo-Italic-webfont.eot');
    src: url('../resources/fonts/Aleo-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/fonts/Aleo-Italic-webfont.woff') format('woff'),
         url('../resources/fonts/Aleo-Italic-webfont.ttf') format('truetype'),
         url('../resources/fonts/Aleo-Italic-webfont.svg#aleoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
	@include transition(all 300ms ease-out)
}

.lt-ie9 aside{
	display:none;
}

.lt-ie9{

	.row{
		max-width:960px;
	}
	.banner{
		.orange_bg{
			background:$orange;
		}

		.red_bg{
			background:$red;
		}

		.blue_bg{
			background:$blue;
		}
	}

}

aside{

	ul{
		margin:0;
		margin-top:0.6em;
	}

	.upper{
		font-size:0.8em;
	}

	li{
		list-style:none;
		color:$orange;
		border-top:1px solid darken($grey,20);
		padding:0.5em 1em;
		border-bottom:1px solid darken($grey,30);

		&.search{
			padding-bottom:4em;
		}

		&:first-child{
			border-top:none;
		}

		a{
			color:lighten($grey,30);

			&.right{
				background:$orange;
				@include border-radius(3px);
				padding:0.5em 0.9em;
				color:#fff;
				margin-bottom:3em;
			}

			&:hover{
				color:$orange;
			}
		}
	}
}

body{
	font-family:$main-font;
}

.utilities_nav{
	float:right;
	padding-top:0.3em;
	margin-bottom:0;

	li{
		display:inline-block;
		padding:0.3em 0.5em;
		font-size:0.875em;
		letter-spacing:-0.01em;

		&.tool{
			a{
				color:(darken($grey, 20));
			}

			&.sep{
				border-left:1px solid lighten($grey, 30);	
				padding-left:0.7em;
			}
		}

		&.special{
			a{
				padding:0.5em;
				background:(lighten($grey, 50));
				@include border-radius(4px);
				border:1px solid (lighten($grey, 40));
				color:(darken($grey, 20));

				&:hover{
					background:none;
					border:1px solid (lighten($red, 10));
				}

			}
		}

		a{
			color:$grey;

			&:hover, &.active{
				color:$red;
			}
		}
	}

	#drop1{
		li{
			display:block;

			&.active{
				background: lighten($grey, 45);
				
			}
		}
	}
}

.logo{
	text-indent:-9999px;

	a{
		background:url(../img/logo_hipotecaria.svg) no-repeat center;
		@include background-size(contain);
		height:65px;
		display:block;
		width: 100%;
		position: absolute;
	}
}

header{
	@include box-shadow(rgba($grey, 0.5) 0px 1px 2px);
	z-index:999;
	position:relative;

	.search_bar{
		margin-top:20px;
	}


}

.relative{
	position:relative;
}

.absolute{
	position:absolute;
}

input{
	@include border-radius(4px);
	border:(lighten($grey, 20)) 1px solid;
	@include box-shadow(0)
}

.nav_bar{
	background:(lighten($grey, 52));
	margin:0.7em 0 0 0;

	ul{
		padding:0.5em 0;
		margin:0;
	}

	li{
		display:inline-block;
		font-family:$third-font;
		padding:0 0.5em;

		a{
			color:$grey;
			font-size:0.92em;

			&:hover, &:active{
				color:$red;


			}
		}
	}

	.absolute{
		right:0;
	}

	.main-cta{
		background:#fff;
		border:1px solid (lighten($grey, 45));
		padding:0.7em;
		position:relative;

		a{
			&:hover{
				background:darken($orange, 10);
			}	
		}

		&:after{
			width:95%;
			background:url(../img/shadow-cta.png) no-repeat;
			height:5px;
			position:absolute;
			bottom:-6px;
			content:"";
			@include background-size(cover);
		}


		p{
			color:$grey;
			font-size:18px;
			font-weight:lighter;
			text-align:center;
			margin:10px 0 0 0;

			span{
				font-size:14px;
				font-weight:normal;
			}
		}

	}
}

a.button{
	font-family:$secondary-font;
	margin-bottom:0;
}

.button.tiny{
	font-size:13px;
	font-weight:lighter;
	@include text-shadow(rgba((darken($orange, 10)) , 1) 0px 1px 0px);

}

a.orange{
	background:$orange;
	font-size:20px;
	color:#fff;

	&.hover{
		background:saturate($orange, 16)
	}
}

.breadcrumb{
	color:#fff;
	margin-top:1.5em;
	margin-left:0;


	li{
		display:inline-block;
		font-size:0.813em;
		padding:0 0.2em;
		font-weight:normal;

		a{
			font-size:inherit;
			font-weight:lighter;
		}
	}
}

.pat{
		width:100%;
		height:100%;
		position:absolute;
		background:url(../img/pat_banner.png);
		top:0;
		left:0;
	}

.figure{
		width:100%;
		height:100%;
		position:absolute;
		background:url(../img/figure.png) no-repeat;
		top:0;
		left:0;
}

.white_wrapper{
	background:#fff;
	@include border-radius(5px 5px 0px 0px);
	margin:-4.5em auto 0;
	position:relative;
	max-width:65.5rem;
	padding-top:2.5em;
	position:relative;

	&:after, &:before{
		position:absolute;
		content:"";
		width:3px;
		height:15em;
		background:#fff;
		@include box-shadow(0px 0px 6px rgba(0, 0, 0, 1));
		@include border-radius(100px);
		top:0;
		z-index:-1;

	}

	&:after{
	 	left:3px;
	 	@include rotate(-1deg);
	 }


	 &:before{
	 	right:3px;
	 	@include rotate(1deg);
	 }



	form{

		label{
			color:$grey;
			font-family:$fourth-font;
			font-size:0.938em


		}

		input, select{
			padding:1.5em 0.5em;
			@include border-radius(4px);
		}

		.submit{
			background:$orange;
			font-family:$main-font;
			@include text-shadow(1px 1px 1px darken($orange,20));
			font-size:1em;

			&:hover{
				background:darken($orange, 10);
			}
		}

	}

	h2{
		color:$red;
		font-family:$fourth-font;
		font-size:1.750em;
	}

	p{	
		font-size:0.875em;
		color:$grey;
		line-height:130%;
	}

	h3{
		color:$red;
		font-family:$fourth-font;
		font-size:1.50em;
	}
}

.banner{

	&.inner_page{
		position:relative;
		.red_bg{
			min-height:142px;
		}
	}

	color:#fff;	
	position:relative;

	.orange_bg{
		$experimental-support-for-svg: true;
		@include background-image(linear-gradient(left,#fca945, #fda750, #f99e5a, #f58e58, #f37c52));

		h4{
			color:(darken($orange, 25));
			
		}

		h2{
			@include text-shadow(1px 1px 0px rgba((darken($orange, 20)), 0.3))
		}

		
	}

	.blue_bg{
		$experimental-support-for-svg: true;
		@include background-image(linear-gradient(left,#537885, #527784, #527b8a, #507082, #4f677d));

		h4{
			color:(darken($blue, 25));
			
		}

		h2{
			@include text-shadow(1px 1px 0px rgba((darken($blue, 20)), 0.3))
		}

		
	}

	.red_bg{
		$experimental-support-for-svg: true;
		@include background-image(linear-gradient(left,#cc4e59, #c14e5a, #b24954, #a43b48, #9a333e));

		h4{
			color:(darken($red, 25));
			
		}

		h2{
			@include text-shadow(1px 1px 0px rgba((darken($red, 20)), 0.3))
		}
	}

	&.carrousel{

		border-bottom:1px solid #fff;

		&:after{
					content:"";
					width:90%;
					position:absolute;
					height:6px;
					@include border-radius(100%);
					@include box-shadow(0px 1px 3px rgba(0, 0, 0, 0.3));
					bottom:-1px;
					z-index:-6;
					margin:0 auto;
					left:0;
					right:0;
				}

		.slide{
			height:430px;



			h4{
				margin-top:5em;
			}

			p{
			margin-bottom:2em;
			}
		}
		
	}


	

	h4{
		font-family:$fourth-font;
		font-size:20px;
		@include text-shadow(0px 1px 0px rgba(255, 255, 255, 0.3))
	}

	h2{
		font-size:2em;
		line-height:100%;
		font-family:$fourth-font;
		color:#fff;
		font-weight:lighter;
	}

	p{
		font-size:16px;
		line-height:120%;
		font-weight:lighter;
	}

	a{
		color:#fff;
		font-family:$secondary-font;
		font-size:17px;


		&.big-b{
			border: 2px solid #fff;
			padding: 0.8em 2em 0.8em 1.3em;
			@include border-radius(6px);
			position:relative;

		}

		&.big-b:after{
			content:"";
			font-family:FontAwesome;
			position:absolute;
			right:1em;
			color:#fff;
			top:33%;
		}

		&.big-b:hover{
			background:adjust_hue(desaturate(darken($orange, 0), 17), 0)
		}
	}

}

.bx-wrapper {
	position: relative;
	margin: 0 auto 0px;
	padding: 0;
	*zoom: 1;

	.bx-pager{
		position: absolute;
		bottom: 20px;
		width: 100%;
		text-align: center;
		font-size: .85em;
		font-family: Arial;
		font-weight: bold;
		color: #fff;
		padding-top: 20px;
		z-index:999;

		.bx-pager-item, .bx-controls-auto-item{
			display: inline-block;
			*zoom: 1;
			*display: inline;
		}

		&.bx-default-pager{

			a{
				background: #fff;
				text-indent: -9999px;
				display: block;
				width: 10px;
				height: 10px;
				margin: 0 5px;
				outline: 0;
				@include border-radius(100%);

				&:hover, &.active{
					background: #ac3442;
				}
			}
		}
	}

	.bx-controls-auto{
		position: absolute;
		bottom: -30px;
		width: 100%;
	}

	.bx-prev{
		left: 3%;
		background: url(../img/slider-arrow.png) no-repeat;
	}

	.bx-next{
		right: 3%;
		background: url(../img/slider-arrow.png) no-repeat right;
	}

	.bx-controls-direction{

		a{
			position: absolute;
			top: 50%;
			margin-top: -16px;
			outline: 0;
			width: 56px;
			height: 56px;
			text-indent: -9999px;
			z-index: 9999;
			opacity:0.5;

			&:hover{
				opacity:1;
			}

		}
	}

	
}


.row{

	&.center{
		text-align:center;
		padding:5em 0;

		h3{
			
			color:$red;
			font-family:$fourth-font;
			font-size:1.750em;
		}

		p{
			
			padding:0 12%;
			color:$grey;
			line-height:130%;

		}

		h5{
			color:$grey;
			font-family:$fourth-font;
			font-size:1.188em;
			line-height:110%;

		}

		.large-4{
			p{	
				padding:0;
				font-size:0.875em;
			}

			.box{
				background:#fff;
				border-bottom:$orange 3px solid;
				@include box-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));

				&:hover{
					@include box-shadow(0px 1px 4px rgba(0, 0, 0, 0.4));
				}

				.padd{
					padding:1.1em;
				}

				img{
					width:100%;
					border:1px solid #fff;
				}
			}
		}

		.icon{
			width:130px;
			height:130px;
			background:url(../img/icons_home.png) no-repeat;
			margin:1em auto;


			&.i2{
				background-position:-130px;
			}

			&.i3{
				background-position:-260px;
			}
		}


	}

	a.link_text{
		color:$orange;
		font-size:1em;
		padding-right: 0.7em;
		position:relative;
		height:auto;

		&.right{

			&:after{
				top:3px;
			}
		}

		&:after{
			content:"";
			font-family:'FontAwesome';
			position:absolute;
			right:0;
			vertical-align:center;
			top:4px;
		}
	}
}

.grey{
		background:#fbfbfa;
		margin-bottom:4em;
		@include box-shadow(0px 0px 3px (lighten($grey, 30)) inset);
		position:relative;

		&:after{
			width:43px;
			height:13px;
			background:url(../img/arrow-down.png) no-repeat;
			content:"";
			position:absolute;
			top:0;
			left:0;
			right:0;
			margin:0 auto;
		}
	}

.pqr{

	h6{
	color:$red;
	font-family:$fourth-font;
	font-size:1.5em;

		&.small-h6{
			font-size:1.250em;
		
		}

	}

	

	li{
		line-height:120%;
		margin:0.8em 0;
		list-style-image:url(../img/bullet.png);

		a{
			color:$grey;

			&.link-text{
				color:$red;
				position:relative;
				padding-right:0.7em;

				&:after{
					content:"";
					font-family:'FontAwesome';
					position:absolute;
					right:0;
					vertical-align:center;
					top:2px;
				}
			}
		}
		
	}

	ul.no-margin{
		padding:0;
		margin-left:0;

		li{
			list-style:none;
			color:$grey;
			padding:2em 0em;

			h4{
				color:(darken($grey, 10));
				font-family:$secondary-font;
				font-size:1.2em;
				margin:0;

			}

			.n-intro{
				font-size:0.85em;
				line-height:130%;
			}

			.date{
				font-size:0.77em;
				margin:0;
			}

		}

		.noti-w{
			padding-bottom: 2em;
			border-bottom: 1px solid lighten($grey, 45);

			&:last-child{
				border-bottom:none;
			}
		}

		img{
			border:2px #fff solid;
			@include box-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
		}
	}

	cite{
		color:$grey;
		display:block;
		line-height:130%;
		padding-left:2em;
		position:relative;
		margin-top:1em;

		&:after{
			content:"";
			width:27px;
			height:22px;
			background:url(../img/quote.png) no-repeat;
			position:absolute;
			left:0;
			top:0;

		}
	}

	.user-pic{
		margin-left:1em;
		padding:1em;
		@include border-radius(100%)
	}

	span{
		color:$grey;
		font-size:0.875em;

		&.name{
		margin:1.2em 0 0.2em 0;
		display:block;
		font-size:1em;
		color:(darken($grey, 20));
		}
	}

	


}

.zindex{
	z-index:9999;
}

.lt-ie9{
	.cta-l{
		&.banca{
			background:$blue;
		}
		&.pre-a{
			background:$orange;
		}
	}
}

.cta_large{

	color:#fff;
	text-align:center;
	padding:2em 1em 3em 1em;
	margin-top:3em;


	&.orange{
		@include background-image(linear-gradient(left,#fca945, #fda750, #f99e5a, #f58e58, #f37c52));
		@include text-shadow(1px 1px 0px rgba((darken($orange, 20)), 0.3))
	}

	h4{
		color:#fff;
		font-family:$fourth-font;
		font-size:1.2em;
	}

	p{
		color:#fff;
		margin-bottom:2em;
	}

	a{
		color:#fff;
		border: 2px solid #fff;
		padding: 0.8em 2em 0.8em 1.3em;
		@include border-radius(6px);
		position:relative;


			&:after{
			content:"";
			font-family:FontAwesome;
			position:absolute;
			right:1em;
			color:#fff;
			top:33%;
			}

			&:hover{
				background:adjust_hue(desaturate(darken($orange, 0), 17), 0);
			}
		

	}


}

.result{
	.calc-label{
		font-family:$fourth-font;
		font-size:1em;
		margin:1.5em 0 0 0;
	}

	&.padd{
		padding-bottom:2em;
	}

	.link_text{
		margin-top:1em;
	}

	span{
		&.number{
			font-size:2.375em;
			color:$grey;
			margin-bottom:0.5em;
			display:block;
		}
	}
}

.cta-l{
	padding:1em 1em 2em 1em;
	color:#fff;
	margin-top:1em;
	position:relative;

	&.pre-a{
		@include background-image(linear-gradient(left,#fca34e, #fe9f4f, #fb9d54, #f89253, #f78555));
		@include text-shadow(1px 1px 1px darken($orange, 20));

		a{
			@include box-shadow(1px 1px 1px darken($orange, 10));
		}
		
	}

	h4{
		color:#fff;
		font-family:$fourth-font;
		font-size:1.188em;
		line-height:120%;
	}

	p{
		font-size:0.875em;
		line-height:120%;
		font-weight:lighter;
		color:#fff;
	}

	.pat{
		position:absolute;
		width:100%;
		left:0;
		top:0;
		height:100%;
		background:url(../img/pat_banner.png);
	}

	.figure{
		position:absolute;
		width:100%;
		left:0;
		top:0;
		background-position:bottom;
		height:100%;
		background:url(../img/bg-ctas.png) no-repeat;
	}


	a{
		color:#fff;
		border:1px solid #fff;
		@include border-radius(4px);
		padding:0.5em 1.8em 0.5em 0.7em; 
		position:relative;

		&:after{
			font-family:FontAwesome;
			color:#fff;
			content:"";;
			position:absolute;
			right:1em;
			top:35%;

		}
	}

	&.banca{
		@include background-image(linear-gradient(left,#537885, #527784, #527b8a, #507082, #4f677d));
		@include text-shadow(1px 1px 1px darken($blue, 20));

		a{
			@include box-shadow(1px 1px 1px darken($blue, 10));
		}

	}
}

.upper{
	text-transform:uppercase;	
	}

.cta-contact{
	margin-top:1em;

	&.social{
		ul{
			margin:0;

			li{
				display:inline-block;

				.fa{
					font-size:2em;
					padding:0 10%;

					&.fa-facebook-square{
						color:#5e6ea5;
					}

					&.fa-youtube-square{
						color:#b83030;
					}

					&.fa-twitter-square{
						color:#81b1f0;
					}

					&.fa-google-plus-square{
						color:#c25043;
					}
				}
			}
		}
	}

	.fa{
		margin-right:0.4em;
		font-size:0.9em;
	}

	.upper{
		font-size:0.7em;	
	}


	.cta-head{
		padding:1em;
		background:#f5f5f2;
		@include text-shadow(0px 1px 0px #fff);
		color:$red;
		border:1px solid (lighten($grey,45));

		h3{
			
			font-family:$fourth-font;
			font-size:1.5em;
			color:$red;
			margin:0;
		}

		p{
			font-family:$secondary-font;
			margin:0;
		}
	}



	.cp-wrap{
		padding:1em;
		border:1px solid (lighten($grey,45));
		border-top:none;
		color:$grey;

		.p-reg{
		margin-bottom:1em;
		}

		&.news{
			border-top:1px solid (lighten($grey,45));


			input{
				@include border-radius(4px 0px 0px 4px);
			}

			.orange{
				background:$orange;
				color:#fff;
				border:none;
				@include border-radius(0px 4px 4px 0px);
			}
		}

		h4{
			font-family:$fourth-font;
			font-size:1.188em;
			color:$grey;
			margin:0;
			margin-bottom:0;
		}

		a{
			color:$orange;
			text-decoration:underline;
		}

		p{
			margin-bottom:0;
			line-height:130%;
			margin-top:0.5em;
		}

		.tel{
			font-size:1.625em;
			font-family:$main-font;
			font-weight:400;
			color:$grey;
			margin:0;

			span{
				font-weight:lighter;
				font-size:inherit;
				margin-top:0.2em;
			}
		}

		.place{
			font-style:italic;
			margin-bottom:1em;
			display:block;
		}
	}
}

footer{
	background:#f5f5f2;
	border-top:1px solid lighten($grey, 45);
	margin-top:3em;
	padding:2em 0em;
	@include text-shadow(0px 1px 0px #fff);

	h2{
		text-indent:-9999px;

		a{
			display:block;
			width:auto;
			min-height:70px;
			background:url(../img/logo_hipotecaria.svg) no-repeat;
			@include background-size(contain);
		}
	}

	.footer_nav{
		padding-top:2em;

		li{
			display:inline-block;
			padding:0 1em;
			border-left: 1px solid lighten($grey, 30);

			&:first-child{
				border-left:0;
			}			

			a{
				font-family:$third-font;
				color:$grey;

			}
		}
	}

	h3{
		font-family:$secondary-font;
		color:$red;
		font-size:1.1em;
		margin-bottom:0;
	}

	p{
		color:$grey;
		font-size:0.875em;
		line-height:120%;
		margin:0;

	}

	.legal{
		margin-top:1.5em;
	}

	.logos-legal{
		background:url(../img/logos-legal.png) no-repeat;
		height:66px; 
		@include background-size(contain);	
	}

	.legal-text{
		color:lighten($grey, 15);
		font-size:0.813em;
		text-align:center;
		display:block;
		margin-top:2em;

		a{
			color:lighten($grey, 15);
			text-decoration:underline;
		}
	}
}



.divider{
	width:100%;
	height:3em;
	background:#fff;
	position:relative;
	margin-bottom:3em;
	margin-top:0.5em;


	&:after{
		content:"";
		width:98%;
		position:absolute;
		background:#fff;
		height:3px;
		@include border-radius(100%);
		@include box-shadow(0px 1px 2px lighten($grey, 35));
		z-index:-1;
		bottom:0;
		right:0;
		left:0;
		margin:0 auto;
	}
}

@media #{$medium-only} { 



	.cta-contact{

		
		.cp-wrap{
		border:none;
			
			&.news{
			border:1px solid #e5e6e8;
			}
		}

		.border-wrap{
			border:1px solid (lighten($grey,45));
			border-top:none;
		}



		.row{
			.row{
				&.no-margin{
				margin:0;
				}
			}	
		}
	}

	.banner{
		&.carrousel{
			.slide{
				position:relative;

				height:320px;
				
				img.absolute{
					max-width:115%;

				}

				h4{
					margin-top:3em;
				}

				.big-b{
					font-size:16px;
				}

				p{
					font-size:15px;
				}
			}
		}
	}

	.banner-c{
		font-size:0.8em;
		padding-right:6em;

	}

	.slide{

	}

	footer {

		h3{
			font-size:0.9em;
		}

		p{
			font-size:0.8em;
		}

		.legal{
			margin-top:0.7em;
		}

		.footer_nav{

			padding-top:1.1em;

			ul{
				margin-left:0;
			}

			li{
				padding:0 0.5em;

				a{
					font-size:0.95em;
				}
			}

		}

	}

}

@media #{$small-only} {

	.banner{
		&.carrousel{
			.slide{
				height:520px;

				h4{
					margin-top:265px;
					font-size:0.92em;
				}

				h2{
					font-size:1.5em;
					@include text-shadow(none);
				}

				a{
					color:#fff;
					font-size:0.9em;
					border:0;
				}

				&.orange_bg{
					
					h2{
						color:$orange;
						
					}

					a{
						
						background:$orange;
						
					}
				}

				&.red_bg{
					h2{
						color:$red;
						
					}

					a{
						
						background:$red;
						
					}
				}

				p{
					color:$grey;
					font-size:0.9em;
				}

				.banner-c{
					z-index:99999;
				}
			}
		}

		.bg-mobile{
			position:absolute;
			background:#fffefc;
			width:100%;
			height:55%;
			bottom:0;
			z-index:1;
		}



		
	}

	.bx-wrapper{
		.bx-pager.bx-default-pager{
			 a{
			 	background:#bfbfbf;
			 }
		}
	}

	.bx-wrapper .bx-controls-direction a{
		top:33%;
	}

	.logo{
		margin-bottom:40%;
		
	}

	header{
		padding-top:1em;
	}

	.menu-mobile{
		margin-top:30px;

		&.right{
			margin-right:10px;
		}

		.fa-search{
			padding-right:0.4em;
		}

		a{
			color:$grey;
			font-size:1.3em;
			padding:0.2em 0.4em;
			background:lighten($grey, 50);
			@include border-radius(3px);
			margin-top:4em;

			&:hover{
				color:$orange;
			}
		}
	}

	.row{

		&.center{
			text-align:center;
			

			h3{
				
				color:$red;
				font-family:$fourth-font;
				font-size:1.4em;
				line-height:130%;
			}

			p{
				
				padding:0;
				color:$grey;
				line-height:130%;

			}

		}
	}

	.result{
		text-align:center;
	}

	.grey{
		margin-bottom:0;

		.box{
			margin-top:1em;
		}
	}

	.mobile-sub-menu{

		ul{
			margin:0;
		}

		li{
			list-style:none;
			font-size:1.05em;
			padding:0.8em 1em;
			border-top:1px solid lighten($grey, 40);

			&:last-child{
				border-bottom:1px solid lighten($grey, 40);			
			}
		}

		a{
			font-family:$third-font;
			color:$grey;

		}
	}

	footer{

		.legal{
				h3{
					font-size:0.75em;
				}

				p{
					font-size:0.6em;
				}


			}

			h2{
				a{
					background-position:center;
					margin:0 auto;
					width:60%;
				}
			}

			.legal-text{
				font-size:0.713em;
			}

		.footer_nav{

			padding:0;

			&.right{
				float:none !important;
			}



			ul{
				margin:0;
			}

			li{
				border:0;
				text-align:left;
				display:block;
				font-size:1em;
				margin:0.4em 0;
				text-align:center;
			}
		}
	}

}



