@import "compass";
@import "variables";


@font-face {
    font-family: 'aleoregular';
    src: url('../resources/fonts/Aleo-Regular-webfont.eot');
    src: url('../resources/fonts/Aleo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/fonts/Aleo-Regular-webfont.woff') format('woff'),
         url('../resources/fonts/Aleo-Regular-webfont.ttf') format('truetype'),
         url('../resources/fonts/Aleo-Regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleoitalic';
    src: url('../resources/fonts/Aleo-Italic-webfont.eot');
    src: url('../resources/fonts/Aleo-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/fonts/Aleo-Italic-webfont.woff') format('woff'),
         url('../resources/fonts/Aleo-Italic-webfont.ttf') format('truetype'),
         url('../resources/fonts/Aleo-Italic-webfont.svg#aleoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family:$main-font;
}

.utilities_nav{
	float:right;
	padding-top:0.3em;
	margin-bottom:0;

	li{
		display:inline-block;
		padding:0.5em;
		font-size:0.875em;
		letter-spacing:-0.01em;

		&.tool{
			a{
				color:(darken($grey, 20));
			}
		}

		&.special{
			a{
				padding:0.5em;
				background:(lighten($grey, 50));
				@include border-radius(4px);
				border:1px solid (lighten($grey, 40));
				color:(darken($grey, 20));

			}
		}

		a{
			color:$grey;

			&:hover{
				color:$red;
			}
		}
	}
}

.logo{
	text-indent:-9999px;

	a{
		background:url(../img/logo_la_hipotecaria.png) no-repeat center;
		width:220px;
		height:65px;
		display:block;
	}
}

header{
	@include box-shadow(rgba($grey, 0.5) 0px 1px 2px);
	z-index:999;
	position:relative;

	.search_bar{
		margin-top:20px;
	}


}

.relative{
	position:relative;
}

.absolute{
	position:absolute;
}

input{
	@include border-radius(4px);
	border:(lighten($grey, 20)) 1px solid;
	@include box-shadow(0)
}

.nav_bar{
	background:(lighten($grey, 52));
	margin:0.7em 0 0 0;

	ul{
		padding:0.5em 0;
		margin:0;
	}

	li{
		display:inline-block;
		font-family:$third-font;
		padding:0 0.5em;

		a{
			color:$grey;
			font-size:0.92em;
		}
	}

	.absolute{
		right:0;
	}

	.main-cta{
		background:#fff;
		border:1px solid (lighten($grey, 45));
		padding:0.7em;
		position:relative;

		&:after{
			width:95%;
			background:url(../img/shadow-cta.png) no-repeat;
			height:5px;
			position:absolute;
			bottom:-6px;
			content:"";
			@include background-size(cover);
		}


		p{
			color:$grey;
			font-size:18px;
			font-weight:lighter;
			text-align:center;
			margin:10px 0 0 0;

			span{
				font-size:14px;
				font-weight:normal;
			}
		}

	}
}

a.button{
	font-family:$secondary-font;
	margin-bottom:0;
}

.button.tiny{
	font-size:13px;
	font-weight:lighter;
	@include text-shadow(rgba((darken($orange, 10)) , 1) 0px 1px 0px);

}

a.orange{
	background:$orange;
	font-size:20px;
	color:#fff;

	&.hover{
		background:saturate($orange, 16)
	}
}

.banner{

	color:#fff;	
	position:relative;

	.orange_bg{
		$experimental-support-for-svg: true;
		@include background-image(linear-gradient(left,#eab84d, #f0a836, #e7a158, #df8f56, #e36c3f));

		h4{
			color:(darken($orange, 25));
			margin-top:5em;
		}

		h2{
			@include text-shadow(1px 1px 0px rgba((darken($orange, 20)), 0.3))
		}

		p{
			margin-bottom:2em;
		}
	}

	&.carrousel{
		.slide{
			height:430px;
		}
		
	}

	.bx-wrapper {
		position: relative;
	}

	.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
		position: absolute;
		bottom: -30px;
		width: 100%;
	}

	.bx-wrapper .bx-pager.bx-default-pager a {
		background: #666;
		text-indent: -9999px;
		display: block;
		width: 10px;
		height: 10px;
		margin: 0 5px;
		outline: 0;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
}

	.pat{
		width:100%;
		height:100%;
		position:absolute;
		background:url(../img/pat_banner.png);
	}

	.figure{
		width:100%;
		height:100%;
		position:absolute;
		background:url(../img/figure.png) no-repeat;
	}

	h4{
		font-family:$fourth-font;
		font-size:20px;
		@include text-shadow(0px 1px 0px rgba(255, 255, 255, 0.3))
	}

	h2{
		font-size:2em;
		line-height:100%;
		font-family:$fourth-font;
		color:#fff;
		font-weight:lighter;
	}

	p{
		font-size:16px;
		line-height:120%;
		font-weight:lighter;
	}

	a{
		color:#fff;
		font-family:$secondary-font;
		font-size:17px;


		&.big-b{
			border: 2px solid #fff;
			padding: 0.8em 2em 0.8em 1.3em;
			@include border-radius(6px);
			position:relative;

		}

		&.big-b:after{
			content:"";
			position:absolute;
			right:1em;
			background:url(../img/arrow.png);
			width:7px;
			height:12px;
			top:40%;
		}

		&.big-b:hover{
			background:adjust_hue(desaturate(darken($orange, 0), 17), 0)
		}
	}

	.bx-controls-direction{
		

		a{
			display:block;
			text-indent:-9999px;
			height:56px;
			width:56px;
			background:url(../img/slider-arrow.png);
			left:0;
			position:absolute;

			&.bx-next{
				background-position:right;
				right:0;
			}
		}
	}


}

.row{

	&.center{
		text-align:center;
		padding:5em 0;

		h3{
			
			color:$red;
			font-family:$fourth-font;
			font-size:1.750em;
		}

		p{
			
			padding:0 12%;
			color:$grey;
			line-height:130%;

		}

		h5{
			color:$grey;
			font-family:$fourth-font;
			font-size:1.188em;
			line-height:110%;

		}

		.large-4{
			p{	
				padding:0;
				font-size:0.875em;
			}

			.box{
				background:#fff;
				border-bottom:$orange 3px solid;
				@include box-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));

				&:hover{
					@include box-shadow(0px 1px 4px rgba(0, 0, 0, 0.4));
				}

				.padd{
					padding:1.1em;
				}
			}
		}

		.icon{
			width:130px;
			height:130px;
			background:url(../img/icons_home.png) no-repeat;
			margin:1em auto;


			&.i2{
				background-position:-130px;
			}

			&.i3{
				background-position:-260px;
			}
		}


	}

	a.link_text{
		color:$orange;
		font-size:1em;
		padding-right: 0.7em;
		position:relative;

		&:after{
			content:"";
			background:url(../img/orange_arrow.png) no-repeat;
			width:5px;
			height:9px;
			position:absolute;
			right:0;
			top:7px;
		}
	}
}

.grey{
		background:#fbfbfa;
		margin-bottom:4em;
	}

.pqr{

	h6{
	color:$red;
	font-family:$fourth-font;
	font-size:1.5em;

		&.small-h6{
			font-size:1.250em;
		
		}

	}

	

	li{
		line-height:120%;
		margin:0.5em 0;

		a{
			color:$grey;
		}
		
	}

	ul.no-margin{
		padding:0;
		margin-left:0;

		li{
			list-style:none;
			color:$grey;
			padding:2em 0em;

			h4{
				color:(darken($grey, 10));
				font-family:$secondary-font;
				font-size:1.2em;
				margin:0;

			}

			.n-intro{
				font-size:0.85em;
				line-height:130%;
			}

			.date{
				font-size:0.77em;
				margin:0;
			}

		}

		img{
			border:2px #fff solid;
			@include box-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
		}


	}

	cite{
		color:$grey;
		display:block;
		line-height:130%;
		padding-left:2em;
		position:relative;
		margin-top:1em;

		&:after{
			content:"";
			width:27px;
			height:22px;
			background:url(../img/quote.png) no-repeat;
			position:absolute;
			left:0;
			top:0;

		}
	}

	.user-pic{
		margin-left:1em;
		padding:1em;
		@include border-radius(100%)
	}

	span{
		color:$grey;
		font-size:0.875em;

		&.name{
		margin:1.2em 0 0.2em 0;
		display:block;
		font-size:1em;
		color:(darken($grey, 20));
		}
	}

	


}





