@import "compass";

//Definición de Variables para La Hipotecaria

//Fuentes
$main-font:'Lato', sans-serif;
$secondary-font:'Varela Round', sans-serif;
$third-font: 'aleoregular', serif;
$fourth-font: 'aleoitalic', serif;


//Colores
$grey:#6c747b;
$red:#ab5c69;
$orange:#ef7b2a;
$blue:#30708c;
$green:#00a090;
$lblue:#4cb9d0;
