/* line 1, ../scss/ie8.scss */
.lt-ie9 .row {
  width: 1000px;
  max-width: 100%;
  min-width: 768px;
  margin: 0 auto;
}

/* line 2, ../scss/ie8.scss */
.lt-ie9 .row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -10px;
}

/* line 3, ../scss/ie8.scss */
.lt-ie9 .row.collapse .column, .row.collapse .columns {
  padding: 0;
}

/* line 4, ../scss/ie8.scss */
.lt-ie9 .row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -10px;
}

/* line 5, ../scss/ie8.scss */
.lt-ie9 row .row.collapse {
  margin: 0;
}

/* line 7, ../scss/ie8.scss */
.lt-ie9 .column, .lt-ie9 .columns {
  float: left;
  min-height: 1px;
  padding: 0 10px;
  position: relative;
  box-sizing: border-box;
}

/* line 8, ../scss/ie8.scss */
.lt-ie9 .column.centered, .lt-ie9 .columns.centered {
  float: none;
  margin: 0 auto;
}

/* line 10, ../scss/ie8.scss */
.lt-ie9 [class*="column"] + [class*="column"]:last-child {
  float: right;
}

/* line 12, ../scss/ie8.scss */
.lt-ie9 [class*="column"] + [class*="column"].end {
  float: left;
}

/*

/* The Grid ---------------------- *!/
.lt-ie9 .row { width: 940px; max-width: 100%; min-width: 768px; margin: 0 auto; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row.large-collapse .column,
.lt-ie9 .row.large-collapse .columns { padding: 0; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row .row.large-collapse { margin: 0; }

.lt-ie9 .column, .lt-ie9 .columns { float: left; min-height: 1px; position: relative; box-sizing: content-box; background: red; }
.lt-ie9 .column.large-centered, .columns.large-centered { float: none; margin: 0 auto; }

.lt-ie9 [class*="column"] + [class*="column"]:last-child { float: left; }
.lt-ie9 [class*="column"] + [class*="column"].end { float: left; }*/
/* line 30, ../scss/ie8.scss */
.lt-ie9 .large-1,
.lt-ie9 .row .large-1 {
  width: 8.33333%;
}

/* line 33, ../scss/ie8.scss */
.lt-ie9 .large-2,
.lt-ie9 .row .large-2 {
  width: 16.66667%;
}

/* line 36, ../scss/ie8.scss */
.lt-ie9 .large-3,
.lt-ie9 .row .large-3 {
  width: 25%;
}

/* line 39, ../scss/ie8.scss */
.lt-ie9 .large-4,
.lt-ie9 .row .large-4 {
  width: 33.33333%;
}

/* line 42, ../scss/ie8.scss */
.lt-ie9 .large-5,
.lt-ie9 .row .large-5 {
  width: 41.66667%;
}

/* line 45, ../scss/ie8.scss */
.lt-ie9 .large-6,
.lt-ie9 .row .large-6 {
  width: 50%;
}

/* line 48, ../scss/ie8.scss */
.lt-ie9 .large-7,
.lt-ie9 .row .large-7 {
  width: 58.33333%;
}

/* line 51, ../scss/ie8.scss */
.lt-ie9 .large-8,
.lt-ie9 .row .large-8 {
  width: 66.66667%;
}

/* line 54, ../scss/ie8.scss */
.lt-ie9 .large-9,
.lt-ie9 .row .large-9 {
  width: 75%;
}

/* line 57, ../scss/ie8.scss */
.lt-ie9 .large-10,
.lt-ie9 .row .large-10 {
  width: 83.33333%;
}

/* line 60, ../scss/ie8.scss */
.lt-ie9 .large-11,
.lt-ie9 .row .large-11 {
  width: 91.66667%;
}

/* line 63, ../scss/ie8.scss */
.lt-ie9 .large-12,
.lt-ie9 .row .large-12 {
  width: 100%;
}

/* line 65, ../scss/ie8.scss */
.lt-ie9 .row .large-offset-1 {
  margin-left: 8.33333%;
}

/* line 66, ../scss/ie8.scss */
.lt-ie9 .row .large-offset-2 {
  margin-left: 16.66667%;
}

/* line 67, ../scss/ie8.scss */
.lt-ie9 .row .large-offset-3 {
  margin-left: 25%;
}

/* line 68, ../scss/ie8.scss */
.lt-ie9 .row .large-offset-4 {
  margin-left: 33.33333%;
}

/* line 69, ../scss/ie8.scss */
.lt-ie9 .row .large-offset-5 {
  margin-left: 41.66667%;
}

/* line 70, ../scss/ie8.scss */
.lt-ie9 .row .large-offset-6 {
  margin-left: 50%;
}

/* line 71, ../scss/ie8.scss */
.lt-ie9 .row .large-offset-7 {
  margin-left: 58.33333%;
}

/* line 72, ../scss/ie8.scss */
.lt-ie9 .row .large-offset-8 {
  margin-left: 66.66667%;
}

/* line 73, ../scss/ie8.scss */
.lt-ie9 .row .large-offset-9 {
  margin-left: 75%;
}

/* line 74, ../scss/ie8.scss */
.lt-ie9 .row .large-offset-10 {
  margin-left: 83.33333%;
}

/* line 76, ../scss/ie8.scss */
.lt-ie9 .pull-2 {
  right: 16.66667%;
}

/* line 77, ../scss/ie8.scss */
.lt-ie9 .pull-3 {
  right: 25%;
}

/* line 78, ../scss/ie8.scss */
.lt-ie9 .pull-4 {
  right: 33.33333%;
}

/* line 79, ../scss/ie8.scss */
.lt-ie9 .pull-5 {
  right: 41.66667%;
}

/* line 80, ../scss/ie8.scss */
.lt-ie9 .pull-6 {
  right: 50%;
}

/* line 81, ../scss/ie8.scss */
.lt-ie9 .pull-7 {
  right: 58.33333%;
}

/* line 82, ../scss/ie8.scss */
.lt-ie9 .pull-8 {
  right: 66.66667%;
}

/* line 83, ../scss/ie8.scss */
.lt-ie9 .pull-9 {
  right: 75%;
}

/* line 84, ../scss/ie8.scss */
.lt-ie9 .pull-10 {
  right: 83.33333%;
}

/* line 86, ../scss/ie8.scss */
.lt-ie9 .push-2 {
  left: 16.66667%;
}

/* line 87, ../scss/ie8.scss */
.lt-ie9 .push-3 {
  left: 25%;
}

/* line 88, ../scss/ie8.scss */
.lt-ie9 .push-4 {
  left: 33.33333%;
}

/* line 89, ../scss/ie8.scss */
.lt-ie9 .push-5 {
  left: 41.66667%;
}

/* line 90, ../scss/ie8.scss */
.lt-ie9 .push-6 {
  left: 50%;
}

/* line 91, ../scss/ie8.scss */
.lt-ie9 .push-7 {
  left: 58.33333%;
}

/* line 92, ../scss/ie8.scss */
.lt-ie9 .push-8 {
  left: 66.66667%;
}

/* line 93, ../scss/ie8.scss */
.lt-ie9 .push-9 {
  left: 75%;
}

/* line 94, ../scss/ie8.scss */
.lt-ie9 .push-10 {
  left: 83.33333%;
}

/* Nicolas Gallagher's micro clearfix */
/* line 97, ../scss/ie8.scss */
.lt-ie9 .row {
  *zoom: 1;
}

/* line 98, ../scss/ie8.scss */
.lt-ie9 .row:before, .row:after {
  content: " ";
  display: table;
}

/* line 99, ../scss/ie8.scss */
.lt-ie9 .row:after {
  clear: both;
}

/* line 102, ../scss/ie8.scss */
.lt-ie9 .left-off-canvas-menu {
  display: none;
}

/* line 106, ../scss/ie8.scss */
.lt-ie9 .top-bar-section ul li a {
  height: 58px;
  padding-top: .5rem;
}

/* line 111, ../scss/ie8.scss */
.lt-ie9 .breadcrumbs > :before {
  margin: 0 10px;
  top: 2px;
}

/* line 116, ../scss/ie8.scss */
.lt-ie9 .search-box {
  padding: 20px;
}

/* line 120, ../scss/ie8.scss */
.lt-ie9 fieldset legend {
  display: inline;
}

/* line 124, ../scss/ie8.scss */
.lt-ie9 .share-block.sub-nav {
  margin-left: 0;
}

/* line 129, ../scss/ie8.scss */
.lt-ie9 .share-block.sub-nav dd {
  margin: -4px 0px 18px 0px;
}

/* line 134, ../scss/ie8.scss */
.lt-ie9 .share-block.sub-nav dt {
  margin: 6px 0px;
}

/* line 138, ../scss/ie8.scss */
.lt-ie9 .button, button {
  margin: 0 0 1.25em;
  padding-right: 2em;
  padding-left: 2em;
  font-size: 1em;
  padding-top: 1.0625em;
  padding-bottom: 1em;
}

/* line 148, ../scss/ie8.scss */
.lt-ie9 .reveal-modal {
  padding: 0;
}

/* line 154, ../scss/ie8.scss */
.lt-ie9 .sub-nav .f-dropdown li {
  margin-left: 0;
}

/* line 158, ../scss/ie8.scss */
.lt-ie10 .left-off-canvas-menu {
  width: 0px;
}
