@font-face {
  font-family: 'aleoregular';
  src: url("../resources/fonts/Aleo-Regular-webfont.eot");
  src: url("../resources/fonts/Aleo-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/Aleo-Regular-webfont.woff") format("woff"), url("../resources/fonts/Aleo-Regular-webfont.ttf") format("truetype"), url("../resources/fonts/Aleo-Regular-webfont.svg#aleoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aleoitalic';
  src: url("../resources/fonts/Aleo-Italic-webfont.eot");
  src: url("../resources/fonts/Aleo-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/Aleo-Italic-webfont.woff") format("woff"), url("../resources/fonts/Aleo-Italic-webfont.ttf") format("truetype"), url("../resources/fonts/Aleo-Italic-webfont.svg#aleoitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 29, ../scss/styles.scss */
* {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

/* line 33, ../scss/styles.scss */
.accordion .accordion-navigation.active > a, .accordion dd.active > a {
  background: #f2f3f4;
  border-left: solid #ef7b2a 2px;
}
/* line 37, ../scss/styles.scss */
.accordion .accordion-navigation.active > a i, .accordion dd.active > a i {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #ef7b2a;
}

/* line 43, ../scss/styles.scss */
dl {
  border: 1px #e5e6e8 solid;
  background: #fff;
  font-family: "Lato", sans-serif;
  font-style: italic;
}
/* line 49, ../scss/styles.scss */
dl a {
  position: relative;
  border-left: solid #fff 2px;
}
/* line 56, ../scss/styles.scss */
dl a:hover i {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 60, ../scss/styles.scss */
dl a i {
  margin-top: 0.3em;
}
/* line 68, ../scss/styles.scss */
dl .accordion .accordion-navigation.active a {
  color: red;
}
/* line 79, ../scss/styles.scss */
dl .accordion-navigation {
  border-top: 1px #e5e6e8 solid;
}
/* line 82, ../scss/styles.scss */
dl .accordion-navigation a {
  border-bottom: 1px #e5e6e8 solid;
  font-size: 1em;
}
/* line 87, ../scss/styles.scss */
dl .accordion-navigation:first-child {
  border: none;
}
/* line 92, ../scss/styles.scss */
dl .content {
  background: #bcc0c4;
}
/* line 96, ../scss/styles.scss */
dl .content ul {
  margin: 0;
  margin-left: 1em;
}
/* line 100, ../scss/styles.scss */
dl .content ul li {
  list-style: none;
}
/* line 103, ../scss/styles.scss */
dl .content ul li a {
  color: #6c747b;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 0.875em;
  padding: 0.5em 0em;
  border: none;
  display: block;
  padding-left: 1em;
}
/* line 113, ../scss/styles.scss */
dl .content ul li a:hover, dl .content ul li a.active {
  color: #ef7b2a;
}
/* line 120, ../scss/styles.scss */
dl .content ul li a:after {
  content: "·";
  left: 0;
  z-index: 999;
  position: absolute;
}

/* line 133, ../scss/styles.scss */
.lt-ie9 aside {
  display: none;
}

/* line 139, ../scss/styles.scss */
.lt-ie9 .row {
  max-width: 960px;
}
/* line 143, ../scss/styles.scss */
.lt-ie9 .banner .orange_bg {
  background: #ef7b2a;
}
/* line 147, ../scss/styles.scss */
.lt-ie9 .banner .red_bg {
  background: #ab5c69;
}
/* line 151, ../scss/styles.scss */
.lt-ie9 .banner .blue_bg {
  background: #586e7e;
}

/* line 159, ../scss/styles.scss */
.cp-wrap li {
  margin: 0.8em 0px;
}

/* line 167, ../scss/styles.scss */
aside ul {
  margin: 0;
  margin-top: 0.6em;
}
/* line 172, ../scss/styles.scss */
aside .upper {
  font-size: 0.8em;
}
/* line 176, ../scss/styles.scss */
aside li {
  list-style: none;
  color: #ef7b2a;
  border-top: 1px solid #3c4145;
  padding: 0.5em 1em;
  border-bottom: 1px solid #24272a;
}
/* line 183, ../scss/styles.scss */
aside li.search {
  padding-bottom: 4em;
}
/* line 187, ../scss/styles.scss */
aside li:first-child {
  border-top: none;
}
/* line 191, ../scss/styles.scss */
aside li a {
  color: #bcc0c4;
}
/* line 194, ../scss/styles.scss */
aside li a.right {
  background: #ef7b2a;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0.5em 0.9em;
  color: #fff;
  margin-bottom: 3em;
}
/* line 202, ../scss/styles.scss */
aside li a:hover {
  color: #ef7b2a;
}

/* line 209, ../scss/styles.scss */
body {
  font-family: "Lato", sans-serif;
}

/* line 213, ../scss/styles.scss */
.utilities_nav {
  float: right;
  padding-top: 0.3em;
  margin-bottom: 0;
}
/* line 218, ../scss/styles.scss */
.utilities_nav li {
  display: inline-block;
  padding: 0.3em 0.5em;
  font-size: 0.875em;
  letter-spacing: -0.01em;
}
/* line 225, ../scss/styles.scss */
.utilities_nav li.tool a {
  color: #3c4145;
}
/* line 229, ../scss/styles.scss */
.utilities_nav li.tool.sep {
  border-left: 1px solid #bcc0c4;
  padding-left: 0.7em;
}
/* line 236, ../scss/styles.scss */
.utilities_nav li.special a {
  padding: 0.5em;
  background: #f2f3f4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #d7dadc;
  color: #3c4145;
}
/* line 243, ../scss/styles.scss */
.utilities_nav li.special a:hover {
  background: none;
  border: 1px solid #bc7e88;
}
/* line 251, ../scss/styles.scss */
.utilities_nav li a {
  color: #6c747b;
}
/* line 254, ../scss/styles.scss */
.utilities_nav li a:hover, .utilities_nav li a.active {
  color: #ab5c69;
}
/* line 261, ../scss/styles.scss */
.utilities_nav #drop1 li {
  display: block;
}
/* line 264, ../scss/styles.scss */
.utilities_nav #drop1 li.active {
  background: #e5e6e8;
}

/* line 272, ../scss/styles.scss */
.logo {
  text-indent: -9999px;
}
/* line 275, ../scss/styles.scss */
.logo a {
  background: url(../img/logo_hipotecaria.svg) no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 65px;
  display: block;
  width: 100%;
  position: absolute;
}

/* line 285, ../scss/styles.scss */
header {
  -webkit-box-shadow: rgba(108, 116, 123, 0.5) 0px 1px 2px;
  -moz-box-shadow: rgba(108, 116, 123, 0.5) 0px 1px 2px;
  box-shadow: rgba(108, 116, 123, 0.5) 0px 1px 2px;
  z-index: 999;
  position: relative;
}
/* line 290, ../scss/styles.scss */
header .search_bar {
  margin-top: 20px;
}

/* line 297, ../scss/styles.scss */
.relative {
  position: relative;
}

/* line 301, ../scss/styles.scss */
.absolute {
  position: absolute;
}

/* line 305, ../scss/styles.scss */
input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: #a1a7ac 1px solid;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}

/* line 311, ../scss/styles.scss */
.nav_bar {
  background: #f8f8f9;
  margin: 0.7em 0 0 0;
}
/* line 315, ../scss/styles.scss */
.nav_bar ul {
  padding: 0.5em 0;
  margin: 0;
}
/* line 320, ../scss/styles.scss */
.nav_bar li {
  display: inline-block;
  font-family: "aleoregular", serif;
  padding: 0 0.5em;
}
/* line 325, ../scss/styles.scss */
.nav_bar li a {
  color: #6c747b;
  font-size: 0.92em;
}
/* line 329, ../scss/styles.scss */
.nav_bar li a:hover, .nav_bar li a:active {
  color: #ab5c69;
}
/* line 337, ../scss/styles.scss */
.nav_bar .absolute {
  right: 0;
}
/* line 341, ../scss/styles.scss */
.nav_bar .main-cta {
  background: #fff;
  border: 1px solid #e5e6e8;
  padding: 0.7em;
  position: relative;
}
/* line 348, ../scss/styles.scss */
.nav_bar .main-cta a:hover {
  background: #d66110;
}
/* line 353, ../scss/styles.scss */
.nav_bar .main-cta:after {
  width: 95%;
  background: url(../img/shadow-cta.png) no-repeat;
  height: 5px;
  position: absolute;
  bottom: -6px;
  content: "";
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 364, ../scss/styles.scss */
.nav_bar .main-cta p {
  color: #6c747b;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  margin: 10px 0 0 0;
}
/* line 371, ../scss/styles.scss */
.nav_bar .main-cta p span {
  font-size: 14px;
  font-weight: normal;
}

/* line 379, ../scss/styles.scss */
a.button {
  font-family: "Varela Round", sans-serif;
  margin-bottom: 0;
}

/* line 384, ../scss/styles.scss */
.button.tiny {
  font-size: 13px;
  font-weight: lighter;
  text-shadow: #d66110 0px 1px 0px;
}

/* line 390, ../scss/styles.scss */
.v_info {
  background: #f2f3f4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d7dadc;
  color: #6c747b;
  font-size: 0.95em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #3c4145;
  margin: 2em 0;
}
/* line 401, ../scss/styles.scss */
.v_info h4 {
  border-bottom: 1px solid #d7dadc;
  padding: 0.4em 0em;
}
/* line 411, ../scss/styles.scss */
.v_info .row.collapse .columns.dato {
  padding-left: 0.8em;
}
/* line 417, ../scss/styles.scss */
.v_info .row.collapse .large-3 {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
/* line 425, ../scss/styles.scss */
.v_info .dato {
  color: #6c747b;
  font-style: normal;
}

/* line 431, ../scss/styles.scss */
a.orange {
  background: #ef7b2a;
  font-size: 20px;
  color: #fff;
}
/* line 436, ../scss/styles.scss */
a.orange.hover {
  background: #ff781a;
}

/* line 441, ../scss/styles.scss */
.breadcrumb {
  color: #fff;
  margin-top: 1.5em;
  margin-left: 0;
}
/* line 447, ../scss/styles.scss */
.breadcrumb li {
  display: inline-block;
  font-size: 0.813em;
  padding: 0 0.2em;
  font-weight: normal;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 454, ../scss/styles.scss */
.breadcrumb li a {
  font-size: inherit;
  font-weight: lighter;
}

/* line 461, ../scss/styles.scss */
.pat {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/pat_banner.png);
  top: 0;
  left: 0;
}

/* line 470, ../scss/styles.scss */
.figure {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/figure.png) no-repeat;
  top: 0;
  left: 0;
}

/* line 479, ../scss/styles.scss */
#map {
  height: 400px;
}

/* line 483, ../scss/styles.scss */
.white_wrapper {
  background: #fff;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  margin: -4.5em auto 0;
  position: relative;
  max-width: 65.5rem;
  padding-top: 2.5em;
  position: relative;
}
/* line 492, ../scss/styles.scss */
.white_wrapper .legal-v {
  font-size: 0.8em;
  color: #a1a7ac;
  font-weight: lighter;
  display: block;
  margin-top: 0.56em;
}
/* line 500, ../scss/styles.scss */
.white_wrapper .contacto-v {
  font-size: 1.4em;
  font-weight: lighter;
  margin-top: 0.3em;
  display: block;
  line-height: 135%;
}
/* line 509, ../scss/styles.scss */
.white_wrapper p.intro {
  font-size: 1.125em;
  margin-top: 2em;
}
/* line 514, ../scss/styles.scss */
.white_wrapper h5 {
  color: #6c747b;
  font-size: 1.125em;
  font-family: "Lato", sans-serif;
  font-style: italic;
}
/* line 521, ../scss/styles.scss */
.white_wrapper:after, .white_wrapper:before {
  position: absolute;
  content: "";
  width: 3px;
  height: 15em;
  background: #fff;
  -webkit-box-shadow: 0px 0px 6px black;
  -moz-box-shadow: 0px 0px 6px black;
  box-shadow: 0px 0px 6px black;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  top: 0;
  z-index: -1;
}
/* line 534, ../scss/styles.scss */
.white_wrapper:after {
  left: 3px;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  transform: rotate(-1deg);
}
/* line 540, ../scss/styles.scss */
.white_wrapper:before {
  right: 3px;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg);
}
/* line 549, ../scss/styles.scss */
.white_wrapper form label {
  color: #6c747b;
  font-family: "aleoitalic", serif;
  font-size: 0.938em;
}
/* line 557, ../scss/styles.scss */
.white_wrapper form input, .white_wrapper form select {
  padding: 1.5em 0.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 562, ../scss/styles.scss */
.white_wrapper form .submit {
  background: #ef7b2a;
  font-family: "Lato", sans-serif;
  text-shadow: 1px 1px 1px #a64c0d;
  font-size: 1em;
}
/* line 568, ../scss/styles.scss */
.white_wrapper form .submit:hover {
  background: #d66110;
}
/* line 575, ../scss/styles.scss */
.white_wrapper h2 {
  color: #ab5c69;
  font-family: "aleoitalic", serif;
  font-size: 1.750em;
  margin-top: 0em;
}
/* line 582, ../scss/styles.scss */
.white_wrapper p {
  font-size: 0.875em;
  color: #6c747b;
  line-height: 130%;
}
/* line 588, ../scss/styles.scss */
.white_wrapper h3 {
  color: #ab5c69;
  font-family: "aleoitalic", serif;
  font-size: 1.50em;
}
/* line 594, ../scss/styles.scss */
.white_wrapper h4 {
  color: #ab5c69;
  font-family: "aleoitalic", serif;
  font-size: 1.188em;
}

/* line 601, ../scss/styles.scss */
.banner {
  color: #fff;
  position: relative;
}
/* line 603, ../scss/styles.scss */
.banner.inner_page {
  position: relative;
}
/* line 606, ../scss/styles.scss */
.banner.inner_page .orange_bg {
  min-height: 142px;
}
/* line 610, ../scss/styles.scss */
.banner.inner_page .red_bg {
  min-height: 142px;
}
/* line 614, ../scss/styles.scss */
.banner.inner_page .blue_bg {
  min-height: 142px;
}
/* line 618, ../scss/styles.scss */
.banner.inner_page .turq_bg {
  min-height: 142px;
}
/* line 626, ../scss/styles.scss */
.banner .orange_bg {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjYTk0NSIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjZmRhNzUwIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmOTllNWEiLz48c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2Y1OGU1OCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YzN2M1MiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fca945), color-stop(25%, #fda750), color-stop(50%, #f99e5a), color-stop(75%, #f58e58), color-stop(100%, #f37c52));
  background-image: -webkit-linear-gradient(left, #fca945, #fda750, #f99e5a, #f58e58, #f37c52);
  background-image: -moz-linear-gradient(left, #fca945, #fda750, #f99e5a, #f58e58, #f37c52);
  background-image: -o-linear-gradient(left, #fca945, #fda750, #f99e5a, #f58e58, #f37c52);
  background-image: linear-gradient(left, #fca945, #fda750, #f99e5a, #f58e58, #f37c52);
}
/* line 630, ../scss/styles.scss */
.banner .orange_bg h4 {
  color: #8f410b;
}
/* line 635, ../scss/styles.scss */
.banner .orange_bg h2 {
  text-shadow: 1px 1px 0px rgba(166, 76, 13, 0.3);
}
/* line 642, ../scss/styles.scss */
.banner .blue_bg {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUzNzg4NSIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjNTI3Nzg0Ii8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM1MjdiOGEiLz48c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzUwNzA4MiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRmNjc3ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #537885), color-stop(25%, #527784), color-stop(50%, #527b8a), color-stop(75%, #507082), color-stop(100%, #4f677d));
  background-image: -webkit-linear-gradient(left, #537885, #527784, #527b8a, #507082, #4f677d);
  background-image: -moz-linear-gradient(left, #537885, #527784, #527b8a, #507082, #4f677d);
  background-image: -o-linear-gradient(left, #537885, #527784, #527b8a, #507082, #4f677d);
  background-image: linear-gradient(left, #537885, #527784, #527b8a, #507082, #4f677d);
}
/* line 646, ../scss/styles.scss */
.banner .blue_bg h4 {
  color: #242c33;
}
/* line 651, ../scss/styles.scss */
.banner .blue_bg h2 {
  text-shadow: 1px 1px 0px rgba(46, 58, 66, 0.3);
}
/* line 658, ../scss/styles.scss */
.banner .red_bg {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjNGU1OSIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjYzE0ZTVhIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNiMjQ5NTQiLz48c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2E0M2I0OCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzlhMzMzZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #cc4e59), color-stop(25%, #c14e5a), color-stop(50%, #b24954), color-stop(75%, #a43b48), color-stop(100%, #9a333e));
  background-image: -webkit-linear-gradient(left, #cc4e59, #c14e5a, #b24954, #a43b48, #9a333e);
  background-image: -moz-linear-gradient(left, #cc4e59, #c14e5a, #b24954, #a43b48, #9a333e);
  background-image: -o-linear-gradient(left, #cc4e59, #c14e5a, #b24954, #a43b48, #9a333e);
  background-image: linear-gradient(left, #cc4e59, #c14e5a, #b24954, #a43b48, #9a333e);
}
/* line 662, ../scss/styles.scss */
.banner .red_bg h4 {
  color: #592e35;
}
/* line 667, ../scss/styles.scss */
.banner .red_bg h2 {
  text-shadow: 1px 1px 0px rgba(106, 55, 63, 0.3);
}
/* line 672, ../scss/styles.scss */
.banner .turq_bg {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU1OWViMyIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjNGFhNmI4Ii8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMzZGE4YjgiLz48c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzQxYTdiNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzUyOWZhYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #559eb3), color-stop(25%, #4aa6b8), color-stop(50%, #3da8b8), color-stop(75%, #41a7b6), color-stop(100%, #529fab));
  background-image: -webkit-linear-gradient(left, #559eb3, #4aa6b8, #3da8b8, #41a7b6, #529fab);
  background-image: -moz-linear-gradient(left, #559eb3, #4aa6b8, #3da8b8, #41a7b6, #529fab);
  background-image: -o-linear-gradient(left, #559eb3, #4aa6b8, #3da8b8, #41a7b6, #529fab);
  background-image: linear-gradient(left, #559eb3, #4aa6b8, #3da8b8, #41a7b6, #529fab);
}
/* line 676, ../scss/styles.scss */
.banner .turq_bg h4 {
  color: #592e35;
}
/* line 681, ../scss/styles.scss */
.banner .turq_bg h2 {
  text-shadow: 1px 1px 0px rgba(106, 55, 63, 0.3);
}
/* line 686, ../scss/styles.scss */
.banner.carrousel {
  border-bottom: 1px solid #fff;
}
/* line 690, ../scss/styles.scss */
.banner.carrousel:after {
  content: "";
  width: 90%;
  position: absolute;
  height: 6px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  bottom: -1px;
  z-index: -6;
  margin: 0 auto;
  left: 0;
  right: 0;
}
/* line 704, ../scss/styles.scss */
.banner.carrousel .slide {
  height: 430px;
}
/* line 709, ../scss/styles.scss */
.banner.carrousel .slide h4 {
  margin-top: 5em;
}
/* line 713, ../scss/styles.scss */
.banner.carrousel .slide p {
  margin-bottom: 2em;
}
/* line 723, ../scss/styles.scss */
.banner h4 {
  font-family: "aleoitalic", serif;
  font-size: 20px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}
/* line 729, ../scss/styles.scss */
.banner h2 {
  font-size: 2em;
  line-height: 100%;
  font-family: "aleoitalic", serif;
  color: #fff;
  font-weight: lighter;
}
/* line 737, ../scss/styles.scss */
.banner p {
  font-size: 16px;
  line-height: 120%;
  font-weight: lighter;
}
/* line 743, ../scss/styles.scss */
.banner a {
  color: #fff;
  font-family: "Varela Round", sans-serif;
  font-size: 17px;
}
/* line 749, ../scss/styles.scss */
.banner a.big-b {
  border: 2px solid #fff;
  padding: 0.8em 2em 0.8em 1.3em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  position: relative;
}
/* line 757, ../scss/styles.scss */
.banner a.big-b:after {
  content: "";
  font-family: FontAwesome;
  position: absolute;
  right: 1em;
  color: #fff;
  top: 33%;
}
/* line 766, ../scss/styles.scss */
.banner a.big-b:hover {
  background: #dc7e3d;
}

/* line 773, ../scss/styles.scss */
.bx-wrapper {
  position: relative;
  margin: 0 auto 0px;
  padding: 0;
  *zoom: 1;
}
/* line 779, ../scss/styles.scss */
.bx-wrapper .bx-pager {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #fff;
  padding-top: 20px;
  z-index: 999;
}
/* line 791, ../scss/styles.scss */
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-pager .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
/* line 799, ../scss/styles.scss */
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #fff;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
/* line 809, ../scss/styles.scss */
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #ac3442;
}
/* line 816, ../scss/styles.scss */
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* line 822, ../scss/styles.scss */
.bx-wrapper .bx-prev {
  left: 3%;
  background: url(../img/slider-arrow.png) no-repeat;
}
/* line 827, ../scss/styles.scss */
.bx-wrapper .bx-next {
  right: 3%;
  background: url(../img/slider-arrow.png) no-repeat right;
}
/* line 834, ../scss/styles.scss */
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 56px;
  height: 56px;
  text-indent: -9999px;
  z-index: 9999;
  opacity: 0.5;
}
/* line 845, ../scss/styles.scss */
.bx-wrapper .bx-controls-direction a:hover {
  opacity: 1;
}

/* line 858, ../scss/styles.scss */
.row.center {
  text-align: center;
  padding: 5em 0;
}
/* line 862, ../scss/styles.scss */
.row.center h3 {
  color: #ab5c69;
  font-family: "aleoitalic", serif;
  font-size: 1.750em;
}
/* line 869, ../scss/styles.scss */
.row.center p {
  padding: 0 12%;
  color: #6c747b;
  line-height: 130%;
}
/* line 877, ../scss/styles.scss */
.row.center h5 {
  color: #6c747b;
  font-family: "aleoitalic", serif;
  font-size: 1.188em;
  line-height: 110%;
}
/* line 886, ../scss/styles.scss */
.row.center .large-4 p {
  padding: 0;
  font-size: 0.875em;
}
/* line 891, ../scss/styles.scss */
.row.center .large-4 .box {
  background: #fff;
  border-bottom: #ef7b2a 3px solid;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
/* line 896, ../scss/styles.scss */
.row.center .large-4 .box:hover {
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
}
/* line 900, ../scss/styles.scss */
.row.center .large-4 .box .padd {
  padding: 1.1em;
}
/* line 904, ../scss/styles.scss */
.row.center .large-4 .box img {
  width: 100%;
  border: 1px solid #fff;
}
/* line 911, ../scss/styles.scss */
.row.center .icon {
  width: 130px;
  height: 130px;
  background: url(../img/icons_home.png) no-repeat;
  margin: 1em auto;
}
/* line 918, ../scss/styles.scss */
.row.center .icon.i2 {
  background-position: -130px;
}
/* line 922, ../scss/styles.scss */
.row.center .icon.i3 {
  background-position: -260px;
}
/* line 930, ../scss/styles.scss */
.row a.link_text {
  color: #ef7b2a;
  font-size: 1em;
  padding-right: 0.7em;
  position: relative;
  height: auto;
}
/* line 939, ../scss/styles.scss */
.row a.link_text.right:after {
  top: 3px;
}
/* line 944, ../scss/styles.scss */
.row a.link_text:after {
  content: "";
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
  vertical-align: center;
  top: 4px;
}

/* line 955, ../scss/styles.scss */
.grey {
  background: #fbfbfa;
  margin-bottom: 4em;
  -webkit-box-shadow: 0px 0px 3px #bcc0c4 inset;
  -moz-box-shadow: 0px 0px 3px #bcc0c4 inset;
  box-shadow: 0px 0px 3px #bcc0c4 inset;
  position: relative;
}
/* line 961, ../scss/styles.scss */
.grey:after {
  width: 43px;
  height: 13px;
  background: url(../img/arrow-down.png) no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* line 976, ../scss/styles.scss */
.pqr h6 {
  color: #ab5c69;
  font-family: "aleoitalic", serif;
  font-size: 1.5em;
}
/* line 981, ../scss/styles.scss */
.pqr h6.small-h6 {
  font-size: 1.250em;
}
/* line 990, ../scss/styles.scss */
.pqr li {
  line-height: 120%;
  margin: 0.8em 0;
  list-style-image: url(../img/bullet.png);
}
/* line 995, ../scss/styles.scss */
.pqr li a {
  color: #6c747b;
}
/* line 998, ../scss/styles.scss */
.pqr li a.link-text {
  color: #ab5c69;
  position: relative;
  padding-right: 0.7em;
}
/* line 1003, ../scss/styles.scss */
.pqr li a.link-text:after {
  content: "";
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
  vertical-align: center;
  top: 2px;
}
/* line 1016, ../scss/styles.scss */
.pqr ul.no-margin {
  padding: 0;
  margin-left: 0;
}
/* line 1020, ../scss/styles.scss */
.pqr ul.no-margin li {
  list-style: none;
  color: #6c747b;
  padding: 2em 0em;
}
/* line 1025, ../scss/styles.scss */
.pqr ul.no-margin li h4 {
  color: #545a60;
  font-family: "Varela Round", sans-serif;
  font-size: 1.2em;
  margin: 0;
}
/* line 1033, ../scss/styles.scss */
.pqr ul.no-margin li .n-intro {
  font-size: 0.85em;
  line-height: 130%;
}
/* line 1038, ../scss/styles.scss */
.pqr ul.no-margin li .date {
  font-size: 0.77em;
  margin: 0;
}
/* line 1045, ../scss/styles.scss */
.pqr ul.no-margin .noti-w {
  padding-bottom: 2em;
  border-bottom: 1px solid #e5e6e8;
}
/* line 1049, ../scss/styles.scss */
.pqr ul.no-margin .noti-w:last-child {
  border-bottom: none;
}
/* line 1054, ../scss/styles.scss */
.pqr ul.no-margin img {
  border: 2px #fff solid;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
/* line 1060, ../scss/styles.scss */
.pqr cite {
  color: #6c747b;
  display: block;
  line-height: 130%;
  padding-left: 2em;
  position: relative;
  margin-top: 1em;
}
/* line 1068, ../scss/styles.scss */
.pqr cite:after {
  content: "";
  width: 27px;
  height: 22px;
  background: url(../img/quote.png) no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 1080, ../scss/styles.scss */
.pqr .user-pic {
  margin-left: 1em;
  padding: 1em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
/* line 1086, ../scss/styles.scss */
.pqr span {
  color: #6c747b;
  font-size: 0.875em;
}
/* line 1090, ../scss/styles.scss */
.pqr span.name {
  margin: 1.2em 0 0.2em 0;
  display: block;
  font-size: 1em;
  color: #3c4145;
}

/* line 1103, ../scss/styles.scss */
.zindex {
  z-index: 9999;
}

/* line 1109, ../scss/styles.scss */
.lt-ie9 .cta-l.banca {
  background: #586e7e;
}
/* line 1112, ../scss/styles.scss */
.lt-ie9 .cta-l.pre-a {
  background: #ef7b2a;
}

/* line 1118, ../scss/styles.scss */
.cta_large {
  color: #fff;
  text-align: center;
  padding: 2em 1em 3em 1em;
  margin-top: 3em;
}
/* line 1126, ../scss/styles.scss */
.cta_large.orange {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjYTk0NSIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjZmRhNzUwIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmOTllNWEiLz48c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2Y1OGU1OCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YzN2M1MiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fca945), color-stop(25%, #fda750), color-stop(50%, #f99e5a), color-stop(75%, #f58e58), color-stop(100%, #f37c52));
  background-image: -webkit-linear-gradient(left, #fca945, #fda750, #f99e5a, #f58e58, #f37c52);
  background-image: -moz-linear-gradient(left, #fca945, #fda750, #f99e5a, #f58e58, #f37c52);
  background-image: -o-linear-gradient(left, #fca945, #fda750, #f99e5a, #f58e58, #f37c52);
  background-image: linear-gradient(left, #fca945, #fda750, #f99e5a, #f58e58, #f37c52);
  text-shadow: 1px 1px 0px rgba(166, 76, 13, 0.3);
}
/* line 1131, ../scss/styles.scss */
.cta_large h4 {
  color: #fff;
  font-family: "aleoitalic", serif;
  font-size: 1.2em;
}
/* line 1137, ../scss/styles.scss */
.cta_large p {
  color: #fff;
  margin-bottom: 2em;
}
/* line 1142, ../scss/styles.scss */
.cta_large a {
  color: #fff;
  border: 2px solid #fff;
  padding: 0.8em 2em 0.8em 1.3em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  position: relative;
}
/* line 1150, ../scss/styles.scss */
.cta_large a:after {
  content: "";
  font-family: FontAwesome;
  position: absolute;
  right: 1em;
  color: #fff;
  top: 33%;
}
/* line 1159, ../scss/styles.scss */
.cta_large a:hover {
  background: #dc7e3d;
}

/* line 1170, ../scss/styles.scss */
.result .calc-label {
  font-family: "aleoitalic", serif;
  font-size: 1em;
  margin: 1.5em 0 0 0;
}
/* line 1176, ../scss/styles.scss */
.result.padd {
  padding-bottom: 2em;
}
/* line 1180, ../scss/styles.scss */
.result .link_text {
  margin-top: 1em;
}
/* line 1185, ../scss/styles.scss */
.result span.number {
  font-size: 2.375em;
  color: #6c747b;
  margin-bottom: 0.5em;
  display: block;
}

/* line 1194, ../scss/styles.scss */
.cta-l {
  padding: 1em 1em 2em 1em;
  color: #fff;
  margin-top: 1em;
  position: relative;
}
/* line 1200, ../scss/styles.scss */
.cta-l.pre-a {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjYTM0ZSIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjZmU5ZjRmIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmYjlkNTQiLz48c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2Y4OTI1MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y3ODU1NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fca34e), color-stop(25%, #fe9f4f), color-stop(50%, #fb9d54), color-stop(75%, #f89253), color-stop(100%, #f78555));
  background-image: -webkit-linear-gradient(left, #fca34e, #fe9f4f, #fb9d54, #f89253, #f78555);
  background-image: -moz-linear-gradient(left, #fca34e, #fe9f4f, #fb9d54, #f89253, #f78555);
  background-image: -o-linear-gradient(left, #fca34e, #fe9f4f, #fb9d54, #f89253, #f78555);
  background-image: linear-gradient(left, #fca34e, #fe9f4f, #fb9d54, #f89253, #f78555);
  text-shadow: 1px 1px 1px #a64c0d;
}
/* line 1204, ../scss/styles.scss */
.cta-l.pre-a a {
  -webkit-box-shadow: 1px 1px 1px #d66110;
  -moz-box-shadow: 1px 1px 1px #d66110;
  box-shadow: 1px 1px 1px #d66110;
}
/* line 1210, ../scss/styles.scss */
.cta-l h4 {
  color: #fff;
  font-family: "aleoitalic", serif;
  font-size: 1.188em;
  line-height: 120%;
}
/* line 1217, ../scss/styles.scss */
.cta-l p {
  font-size: 0.875em;
  line-height: 120%;
  font-weight: lighter;
  color: #fff;
}
/* line 1224, ../scss/styles.scss */
.cta-l .pat {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background: url(../img/pat_banner.png);
}
/* line 1233, ../scss/styles.scss */
.cta-l .figure {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background-position: bottom;
  height: 100%;
  background: url(../img/bg-ctas.png) no-repeat;
}
/* line 1244, ../scss/styles.scss */
.cta-l a {
  color: #fff;
  border: 1px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 0.5em 1.8em 0.5em 0.7em;
  position: relative;
}
/* line 1251, ../scss/styles.scss */
.cta-l a:after {
  font-family: FontAwesome;
  color: #fff;
  content: "";
  position: absolute;
  right: 1em;
  top: 35%;
}
/* line 1262, ../scss/styles.scss */
.cta-l.banca {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUzNzg4NSIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjNTI3Nzg0Ii8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM1MjdiOGEiLz48c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzUwNzA4MiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRmNjc3ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #537885), color-stop(25%, #527784), color-stop(50%, #527b8a), color-stop(75%, #507082), color-stop(100%, #4f677d));
  background-image: -webkit-linear-gradient(left, #537885, #527784, #527b8a, #507082, #4f677d);
  background-image: -moz-linear-gradient(left, #537885, #527784, #527b8a, #507082, #4f677d);
  background-image: -o-linear-gradient(left, #537885, #527784, #527b8a, #507082, #4f677d);
  background-image: linear-gradient(left, #537885, #527784, #527b8a, #507082, #4f677d);
  text-shadow: 1px 1px 1px #2e3a42;
}
/* line 1266, ../scss/styles.scss */
.cta-l.banca a {
  -webkit-box-shadow: 1px 1px 1px #435460;
  -moz-box-shadow: 1px 1px 1px #435460;
  box-shadow: 1px 1px 1px #435460;
}

/* line 1273, ../scss/styles.scss */
.upper {
  text-transform: uppercase;
}

/* line 1277, ../scss/styles.scss */
.cta-contact {
  margin-top: 1em;
}
/* line 1281, ../scss/styles.scss */
.cta-contact.social ul {
  margin: 0;
}
/* line 1284, ../scss/styles.scss */
.cta-contact.social ul li {
  display: inline-block;
}
/* line 1287, ../scss/styles.scss */
.cta-contact.social ul li .fa {
  font-size: 2em;
  padding: 0 10%;
}
/* line 1291, ../scss/styles.scss */
.cta-contact.social ul li .fa.fa-facebook-square {
  color: #5e6ea5;
}
/* line 1295, ../scss/styles.scss */
.cta-contact.social ul li .fa.fa-youtube-square {
  color: #b83030;
}
/* line 1299, ../scss/styles.scss */
.cta-contact.social ul li .fa.fa-twitter-square {
  color: #81b1f0;
}
/* line 1303, ../scss/styles.scss */
.cta-contact.social ul li .fa.fa-google-plus-square {
  color: #c25043;
}
/* line 1311, ../scss/styles.scss */
.cta-contact .fa {
  margin-right: 0.4em;
  font-size: 0.9em;
}
/* line 1316, ../scss/styles.scss */
.cta-contact .upper {
  font-size: 0.7em;
}
/* line 1321, ../scss/styles.scss */
.cta-contact .cta-head {
  padding: 1em;
  background: #f5f5f2;
  text-shadow: 0px 1px 0px white;
  color: #ab5c69;
  border: 1px solid #e5e6e8;
}
/* line 1328, ../scss/styles.scss */
.cta-contact .cta-head h3 {
  font-family: "aleoitalic", serif;
  font-size: 1.5em;
  color: #ab5c69;
  margin: 0;
}
/* line 1336, ../scss/styles.scss */
.cta-contact .cta-head p {
  font-family: "Varela Round", sans-serif;
  margin: 0;
}
/* line 1344, ../scss/styles.scss */
.cta-contact .cp-wrap {
  padding: 1em;
  border: 1px solid #e5e6e8;
  border-top: none;
  color: #6c747b;
}
/* line 1350, ../scss/styles.scss */
.cta-contact .cp-wrap .p-reg {
  margin-bottom: 1em;
}
/* line 1354, ../scss/styles.scss */
.cta-contact .cp-wrap.news {
  border-top: 1px solid #e5e6e8;
}
/* line 1358, ../scss/styles.scss */
.cta-contact .cp-wrap.news input {
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  -ms-border-radius: 4px 0px 0px 4px;
  -o-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
}
/* line 1362, ../scss/styles.scss */
.cta-contact .cp-wrap.news .orange {
  background: #ef7b2a;
  color: #fff;
  border: none;
  -webkit-border-radius: 0px 4px 4px 0px;
  -moz-border-radius: 0px 4px 4px 0px;
  -ms-border-radius: 0px 4px 4px 0px;
  -o-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
}
/* line 1370, ../scss/styles.scss */
.cta-contact .cp-wrap h4 {
  font-family: "aleoitalic", serif;
  font-size: 1.188em;
  color: #6c747b;
  margin: 0;
  margin-bottom: 0;
}
/* line 1378, ../scss/styles.scss */
.cta-contact .cp-wrap a {
  color: #ef7b2a;
  text-decoration: underline;
}
/* line 1383, ../scss/styles.scss */
.cta-contact .cp-wrap p {
  margin-bottom: 0;
  line-height: 130%;
  margin-top: 0.5em;
}
/* line 1389, ../scss/styles.scss */
.cta-contact .cp-wrap .tel {
  font-size: 1.625em;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #6c747b;
  margin: 0;
}
/* line 1396, ../scss/styles.scss */
.cta-contact .cp-wrap .tel span {
  font-weight: lighter;
  font-size: inherit;
  margin-top: 0.2em;
}
/* line 1403, ../scss/styles.scss */
.cta-contact .cp-wrap .place {
  font-style: italic;
  margin-bottom: 1em;
  display: block;
}

/* line 1411, ../scss/styles.scss */
footer {
  background: #f5f5f2;
  border-top: 1px solid #e5e6e8;
  margin-top: 3em;
  padding: 2em 0em;
  text-shadow: 0px 1px 0px white;
}
/* line 1418, ../scss/styles.scss */
footer h2 {
  text-indent: -9999px;
}
/* line 1421, ../scss/styles.scss */
footer h2 a {
  display: block;
  width: auto;
  min-height: 70px;
  background: url(../img/logo_hipotecaria.svg) no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 1430, ../scss/styles.scss */
footer .footer_nav {
  padding-top: 2em;
}
/* line 1433, ../scss/styles.scss */
footer .footer_nav li {
  display: inline-block;
  padding: 0 1em;
  border-left: 1px solid #bcc0c4;
}
/* line 1438, ../scss/styles.scss */
footer .footer_nav li:first-child {
  border-left: 0;
}
/* line 1442, ../scss/styles.scss */
footer .footer_nav li a {
  font-family: "aleoregular", serif;
  color: #6c747b;
}
/* line 1450, ../scss/styles.scss */
footer h3 {
  font-family: "Varela Round", sans-serif;
  color: #ab5c69;
  font-size: 1.1em;
  margin-bottom: 0;
}
/* line 1457, ../scss/styles.scss */
footer p {
  color: #6c747b;
  font-size: 0.875em;
  line-height: 120%;
  margin: 0;
}
/* line 1465, ../scss/styles.scss */
footer .legal {
  margin-top: 1.5em;
}
/* line 1469, ../scss/styles.scss */
footer .logos-legal {
  background: url(../img/logos-legal.png) no-repeat;
  height: 66px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 1475, ../scss/styles.scss */
footer .legal-text {
  color: #939aa0;
  font-size: 0.813em;
  text-align: center;
  display: block;
  margin-top: 2em;
}
/* line 1482, ../scss/styles.scss */
footer .legal-text a {
  color: #939aa0;
  text-decoration: underline;
}

/* line 1491, ../scss/styles.scss */
.divider {
  width: 100%;
  height: 3em;
  background: #fff;
  position: relative;
  margin-bottom: 3em;
  margin-top: 0.5em;
}
/* line 1500, ../scss/styles.scss */
.divider:after {
  content: "";
  width: 98%;
  position: absolute;
  background: #fff;
  height: 3px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0px 1px 2px #c9cdd0;
  -moz-box-shadow: 0px 1px 2px #c9cdd0;
  box-shadow: 0px 1px 2px #c9cdd0;
  z-index: -1;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 1523, ../scss/styles.scss */
  .cta-contact .cp-wrap {
    border: none;
  }
  /* line 1526, ../scss/styles.scss */
  .cta-contact .cp-wrap.news {
    border: 1px solid #e5e6e8;
  }
  /* line 1531, ../scss/styles.scss */
  .cta-contact .border-wrap {
    border: 1px solid #e5e6e8;
    border-top: none;
  }
  /* line 1540, ../scss/styles.scss */
  .cta-contact .row .row.no-margin {
    margin: 0;
  }

  /* line 1549, ../scss/styles.scss */
  .banner.carrousel .slide {
    position: relative;
    height: 320px;
  }
  /* line 1554, ../scss/styles.scss */
  .banner.carrousel .slide img.absolute {
    max-width: 115%;
  }
  /* line 1559, ../scss/styles.scss */
  .banner.carrousel .slide h4 {
    margin-top: 3em;
  }
  /* line 1563, ../scss/styles.scss */
  .banner.carrousel .slide .big-b {
    font-size: 16px;
  }
  /* line 1567, ../scss/styles.scss */
  .banner.carrousel .slide p {
    font-size: 15px;
  }

  /* line 1574, ../scss/styles.scss */
  .banner-c {
    font-size: 0.8em;
    padding-right: 6em;
  }

  /* line 1586, ../scss/styles.scss */
  footer h3 {
    font-size: 0.9em;
  }
  /* line 1590, ../scss/styles.scss */
  footer p {
    font-size: 0.8em;
  }
  /* line 1594, ../scss/styles.scss */
  footer .legal {
    margin-top: 0.7em;
  }
  /* line 1598, ../scss/styles.scss */
  footer .footer_nav {
    padding-top: 1.1em;
  }
  /* line 1602, ../scss/styles.scss */
  footer .footer_nav ul {
    margin-left: 0;
  }
  /* line 1606, ../scss/styles.scss */
  footer .footer_nav li {
    padding: 0 0.5em;
  }
  /* line 1609, ../scss/styles.scss */
  footer .footer_nav li a {
    font-size: 0.95em;
  }
}
@media only screen and (max-width: 40em) {
  /* line 1622, ../scss/styles.scss */
  #map {
    height: 300px;
  }

  /* line 1626, ../scss/styles.scss */
  p.content {
    font-size: 1em;
    line-height: 140%;
  }

  /* line 1631, ../scss/styles.scss */
  .breadcrumb {
    margin-top: 4em;
  }

  /* line 1635, ../scss/styles.scss */
  .white_wrapper {
    margin-top: -2em;
  }
  /* line 1638, ../scss/styles.scss */
  .white_wrapper h2 {
    font-size: 1.5em;
  }
  /* line 1642, ../scss/styles.scss */
  .white_wrapper h3 {
    font-size: 1.2em;
  }

  /* line 1649, ../scss/styles.scss */
  .banner.carrousel .slide {
    height: 520px;
  }
  /* line 1652, ../scss/styles.scss */
  .banner.carrousel .slide h4 {
    margin-top: 265px;
    font-size: 0.92em;
  }
  /* line 1657, ../scss/styles.scss */
  .banner.carrousel .slide h2 {
    font-size: 1.5em;
    text-shadow: none;
  }
  /* line 1662, ../scss/styles.scss */
  .banner.carrousel .slide a {
    color: #fff;
    font-size: 0.9em;
    border: 0;
  }
  /* line 1670, ../scss/styles.scss */
  .banner.carrousel .slide.orange_bg h2 {
    color: #ef7b2a;
  }
  /* line 1675, ../scss/styles.scss */
  .banner.carrousel .slide.orange_bg a {
    background: #ef7b2a;
  }
  /* line 1683, ../scss/styles.scss */
  .banner.carrousel .slide.red_bg h2 {
    color: #ab5c69;
  }
  /* line 1688, ../scss/styles.scss */
  .banner.carrousel .slide.red_bg a {
    background: #ab5c69;
  }
  /* line 1695, ../scss/styles.scss */
  .banner.carrousel .slide p {
    color: #6c747b;
    font-size: 0.9em;
  }
  /* line 1700, ../scss/styles.scss */
  .banner.carrousel .slide .banner-c {
    z-index: 99999;
  }
  /* line 1706, ../scss/styles.scss */
  .banner .bg-mobile {
    position: absolute;
    background: #fffefc;
    width: 100%;
    height: 55%;
    bottom: 0;
    z-index: 1;
  }

  /* line 1722, ../scss/styles.scss */
  .bx-wrapper .bx-pager.bx-default-pager a {
    background: #bfbfbf;
  }

  /* line 1728, ../scss/styles.scss */
  .bx-wrapper .bx-controls-direction a {
    top: 33%;
  }

  /* line 1732, ../scss/styles.scss */
  .logo {
    margin-bottom: 40%;
  }

  /* line 1737, ../scss/styles.scss */
  header {
    padding-top: 1em;
  }

  /* line 1741, ../scss/styles.scss */
  .menu-mobile {
    margin-top: 30px;
  }
  /* line 1744, ../scss/styles.scss */
  .menu-mobile.right {
    margin-right: 10px;
  }
  /* line 1748, ../scss/styles.scss */
  .menu-mobile .fa-search {
    padding-right: 0.4em;
  }
  /* line 1752, ../scss/styles.scss */
  .menu-mobile a {
    color: #6c747b;
    font-size: 1.3em;
    padding: 0.2em 0.4em;
    background: #f2f3f4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin-top: 4em;
  }
  /* line 1760, ../scss/styles.scss */
  .menu-mobile a:hover {
    color: #ef7b2a;
  }

  /* line 1768, ../scss/styles.scss */
  .row.center {
    text-align: center;
  }
  /* line 1772, ../scss/styles.scss */
  .row.center h3 {
    color: #ab5c69;
    font-family: "aleoitalic", serif;
    font-size: 1.4em;
    line-height: 130%;
  }
  /* line 1780, ../scss/styles.scss */
  .row.center p {
    padding: 0;
    color: #6c747b;
    line-height: 130%;
  }

  /* line 1791, ../scss/styles.scss */
  .result {
    text-align: center;
  }

  /* line 1795, ../scss/styles.scss */
  .grey {
    margin-bottom: 0;
  }
  /* line 1798, ../scss/styles.scss */
  .grey .box {
    margin-top: 1em;
  }

  /* line 1805, ../scss/styles.scss */
  .mobile-sub-menu ul {
    margin: 0;
  }
  /* line 1809, ../scss/styles.scss */
  .mobile-sub-menu li {
    list-style: none;
    font-size: 1.05em;
    padding: 0.8em 1em;
    border-top: 1px solid #d7dadc;
  }
  /* line 1815, ../scss/styles.scss */
  .mobile-sub-menu li:last-child {
    border-bottom: 1px solid #d7dadc;
  }
  /* line 1820, ../scss/styles.scss */
  .mobile-sub-menu a {
    font-family: "aleoregular", serif;
    color: #6c747b;
  }

  /* line 1830, ../scss/styles.scss */
  footer .legal h3 {
    font-size: 0.75em;
  }
  /* line 1834, ../scss/styles.scss */
  footer .legal p {
    font-size: 0.6em;
  }
  /* line 1842, ../scss/styles.scss */
  footer h2 a {
    background-position: center;
    margin: 0 auto;
    width: 60%;
  }
  /* line 1849, ../scss/styles.scss */
  footer .legal-text {
    font-size: 0.713em;
  }
  /* line 1853, ../scss/styles.scss */
  footer .footer_nav {
    padding: 0;
  }
  /* line 1857, ../scss/styles.scss */
  footer .footer_nav.right {
    float: none !important;
  }
  /* line 1865, ../scss/styles.scss */
  footer .footer_nav p
  ul {
    margin: 0;
  }
  /* line 1869, ../scss/styles.scss */
  footer .footer_nav li {
    border: 0;
    text-align: left;
    display: block;
    font-size: 1em;
    margin: 0.4em 0;
    text-align: center;
  }
}
