@font-face {
  font-family: 'aleoregular';
  src: url("../resources/fonts/Aleo-Regular-webfont.eot");
  src: url("../resources/fonts/Aleo-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/Aleo-Regular-webfont.woff") format("woff"), url("../resources/fonts/Aleo-Regular-webfont.ttf") format("truetype"), url("../resources/fonts/Aleo-Regular-webfont.svg#aleoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aleoitalic';
  src: url("../resources/fonts/Aleo-Italic-webfont.eot");
  src: url("../resources/fonts/Aleo-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/Aleo-Italic-webfont.woff") format("woff"), url("../resources/fonts/Aleo-Italic-webfont.ttf") format("truetype"), url("../resources/fonts/Aleo-Italic-webfont.svg#aleoitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 29, ../scss/styles.scss */
* {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

/* line 33, ../scss/styles.scss */
.lt-ie9 aside {
  display: none;
}

/* line 39, ../scss/styles.scss */
.lt-ie9 .row {
  max-width: 960px;
}
/* line 43, ../scss/styles.scss */
.lt-ie9 .banner .orange_bg {
  background: #ef7b2a;
}
/* line 47, ../scss/styles.scss */
.lt-ie9 .banner .red_bg {
  background: #ab5c69;
}

/* line 56, ../scss/styles.scss */
aside ul {
  margin: 0;
  margin-top: 0.6em;
}
/* line 61, ../scss/styles.scss */
aside .upper {
  font-size: 0.8em;
}
/* line 65, ../scss/styles.scss */
aside li {
  list-style: none;
  color: #ef7b2a;
  border-top: 1px solid #3c4145;
  padding: 0.5em 1em;
  border-bottom: 1px solid #24272a;
}
/* line 72, ../scss/styles.scss */
aside li.search {
  padding-bottom: 4em;
}
/* line 76, ../scss/styles.scss */
aside li:first-child {
  border-top: none;
}
/* line 80, ../scss/styles.scss */
aside li a {
  color: #bcc0c4;
}
/* line 83, ../scss/styles.scss */
aside li a.right {
  background: #ef7b2a;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0.5em 0.9em;
  color: #fff;
  margin-bottom: 3em;
}
/* line 91, ../scss/styles.scss */
aside li a:hover {
  color: #ef7b2a;
}

/* line 98, ../scss/styles.scss */
body {
  font-family: "Lato", sans-serif;
}

/* line 102, ../scss/styles.scss */
.utilities_nav {
  float: right;
  padding-top: 0.3em;
  margin-bottom: 0;
}
/* line 107, ../scss/styles.scss */
.utilities_nav li {
  display: inline-block;
  padding: 0.3em 0.5em;
  font-size: 0.875em;
  letter-spacing: -0.01em;
}
/* line 114, ../scss/styles.scss */
.utilities_nav li.tool a {
  color: #3c4145;
}
/* line 118, ../scss/styles.scss */
.utilities_nav li.tool.sep {
  border-left: 1px solid #bcc0c4;
  padding-left: 0.7em;
}
/* line 125, ../scss/styles.scss */
.utilities_nav li.special a {
  padding: 0.5em;
  background: #f2f3f4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #d7dadc;
  color: #3c4145;
}
/* line 132, ../scss/styles.scss */
.utilities_nav li.special a:hover {
  background: none;
  border: 1px solid #bc7e88;
}
/* line 140, ../scss/styles.scss */
.utilities_nav li a {
  color: #6c747b;
}
/* line 143, ../scss/styles.scss */
.utilities_nav li a:hover, .utilities_nav li a.active {
  color: #ab5c69;
}
/* line 150, ../scss/styles.scss */
.utilities_nav #drop1 li {
  display: block;
}
/* line 153, ../scss/styles.scss */
.utilities_nav #drop1 li.active {
  background: #e5e6e8;
}

/* line 161, ../scss/styles.scss */
.logo {
  text-indent: -9999px;
}
/* line 164, ../scss/styles.scss */
.logo a {
  background: url(../img/logo_hipotecaria.svg) no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 65px;
  display: block;
  width: 100%;
  position: absolute;
}

/* line 174, ../scss/styles.scss */
header {
  -webkit-box-shadow: rgba(108, 116, 123, 0.5) 0px 1px 2px;
  -moz-box-shadow: rgba(108, 116, 123, 0.5) 0px 1px 2px;
  box-shadow: rgba(108, 116, 123, 0.5) 0px 1px 2px;
  z-index: 999;
  position: relative;
}
/* line 179, ../scss/styles.scss */
header .search_bar {
  margin-top: 20px;
}

/* line 186, ../scss/styles.scss */
.relative {
  position: relative;
}

/* line 190, ../scss/styles.scss */
.absolute {
  position: absolute;
}

/* line 194, ../scss/styles.scss */
input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: #a1a7ac 1px solid;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}

/* line 200, ../scss/styles.scss */
.nav_bar {
  background: #f8f8f9;
  margin: 0.7em 0 0 0;
}
/* line 204, ../scss/styles.scss */
.nav_bar ul {
  padding: 0.5em 0;
  margin: 0;
}
/* line 209, ../scss/styles.scss */
.nav_bar li {
  display: inline-block;
  font-family: "aleoregular", serif;
  padding: 0 0.5em;
}
/* line 214, ../scss/styles.scss */
.nav_bar li a {
  color: #6c747b;
  font-size: 0.92em;
}
/* line 218, ../scss/styles.scss */
.nav_bar li a:hover, .nav_bar li a:active {
  color: #ab5c69;
}
/* line 226, ../scss/styles.scss */
.nav_bar .absolute {
  right: 0;
}
/* line 230, ../scss/styles.scss */
.nav_bar .main-cta {
  background: #fff;
  border: 1px solid #e5e6e8;
  padding: 0.7em;
  position: relative;
}
/* line 236, ../scss/styles.scss */
.nav_bar .main-cta:after {
  width: 95%;
  background: url(../img/shadow-cta.png) no-repeat;
  height: 5px;
  position: absolute;
  bottom: -6px;
  content: "";
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 247, ../scss/styles.scss */
.nav_bar .main-cta p {
  color: #6c747b;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  margin: 10px 0 0 0;
}
/* line 254, ../scss/styles.scss */
.nav_bar .main-cta p span {
  font-size: 14px;
  font-weight: normal;
}

/* line 263, ../scss/styles.scss */
a.button {
  font-family: "Varela Round", sans-serif;
  margin-bottom: 0;
}

/* line 268, ../scss/styles.scss */
.button.tiny {
  font-size: 13px;
  font-weight: lighter;
  text-shadow: #d66110 0px 1px 0px;
}

/* line 275, ../scss/styles.scss */
a.orange {
  background: #ef7b2a;
  font-size: 20px;
  color: #fff;
}
/* line 280, ../scss/styles.scss */
a.orange.hover {
  background: #ff781a;
}

/* line 285, ../scss/styles.scss */
.banner {
  color: #fff;
  position: relative;
}
/* line 290, ../scss/styles.scss */
.banner .orange_bg {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjYTk0NSIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjZmRhNzUwIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmOTllNWEiLz48c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2Y1OGU1OCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YzN2M1MiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fca945), color-stop(25%, #fda750), color-stop(50%, #f99e5a), color-stop(75%, #f58e58), color-stop(100%, #f37c52));
  background-image: -webkit-linear-gradient(left, #fca945, #fda750, #f99e5a, #f58e58, #f37c52);
  background-image: -moz-linear-gradient(left, #fca945, #fda750, #f99e5a, #f58e58, #f37c52);
  background-image: -o-linear-gradient(left, #fca945, #fda750, #f99e5a, #f58e58, #f37c52);
  background-image: linear-gradient(left, #fca945, #fda750, #f99e5a, #f58e58, #f37c52);
}
/* line 294, ../scss/styles.scss */
.banner .orange_bg h4 {
  color: #8f410b;
}
/* line 299, ../scss/styles.scss */
.banner .orange_bg h2 {
  text-shadow: 1px 1px 0px rgba(166, 76, 13, 0.3);
}
/* line 306, ../scss/styles.scss */
.banner .red_bg {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjNGU1OSIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjYzE0ZTVhIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNiMjQ5NTQiLz48c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2E0M2I0OCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzlhMzMzZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #cc4e59), color-stop(25%, #c14e5a), color-stop(50%, #b24954), color-stop(75%, #a43b48), color-stop(100%, #9a333e));
  background-image: -webkit-linear-gradient(left, #cc4e59, #c14e5a, #b24954, #a43b48, #9a333e);
  background-image: -moz-linear-gradient(left, #cc4e59, #c14e5a, #b24954, #a43b48, #9a333e);
  background-image: -o-linear-gradient(left, #cc4e59, #c14e5a, #b24954, #a43b48, #9a333e);
  background-image: linear-gradient(left, #cc4e59, #c14e5a, #b24954, #a43b48, #9a333e);
}
/* line 310, ../scss/styles.scss */
.banner .red_bg h4 {
  color: #592e35;
}
/* line 315, ../scss/styles.scss */
.banner .red_bg h2 {
  text-shadow: 1px 1px 0px rgba(106, 55, 63, 0.3);
}
/* line 320, ../scss/styles.scss */
.banner.carrousel {
  border-bottom: 1px solid #fff;
}
/* line 324, ../scss/styles.scss */
.banner.carrousel:after {
  content: "";
  width: 90%;
  position: absolute;
  height: 6px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  bottom: -1px;
  z-index: -6;
  margin: 0 auto;
  left: 0;
  right: 0;
}
/* line 338, ../scss/styles.scss */
.banner.carrousel .slide {
  height: 430px;
}
/* line 343, ../scss/styles.scss */
.banner.carrousel .slide h4 {
  margin-top: 5em;
}
/* line 347, ../scss/styles.scss */
.banner.carrousel .slide p {
  margin-bottom: 2em;
}
/* line 355, ../scss/styles.scss */
.banner .pat {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/pat_banner.png);
}
/* line 362, ../scss/styles.scss */
.banner .figure {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/figure.png) no-repeat;
}
/* line 369, ../scss/styles.scss */
.banner h4 {
  font-family: "aleoitalic", serif;
  font-size: 20px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}
/* line 375, ../scss/styles.scss */
.banner h2 {
  font-size: 2em;
  line-height: 100%;
  font-family: "aleoitalic", serif;
  color: #fff;
  font-weight: lighter;
}
/* line 383, ../scss/styles.scss */
.banner p {
  font-size: 16px;
  line-height: 120%;
  font-weight: lighter;
}
/* line 389, ../scss/styles.scss */
.banner a {
  color: #fff;
  font-family: "Varela Round", sans-serif;
  font-size: 17px;
}
/* line 395, ../scss/styles.scss */
.banner a.big-b {
  border: 2px solid #fff;
  padding: 0.8em 2em 0.8em 1.3em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  position: relative;
}
/* line 403, ../scss/styles.scss */
.banner a.big-b:after {
  content: "";
  font-family: FontAwesome;
  position: absolute;
  right: 1em;
  color: #fff;
  top: 33%;
}
/* line 412, ../scss/styles.scss */
.banner a.big-b:hover {
  background: #dc7e3d;
}

/* line 419, ../scss/styles.scss */
.bx-wrapper {
  position: relative;
  margin: 0 auto 0px;
  padding: 0;
  *zoom: 1;
}
/* line 425, ../scss/styles.scss */
.bx-wrapper .bx-pager {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #fff;
  padding-top: 20px;
  z-index: 999;
}
/* line 437, ../scss/styles.scss */
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-pager .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
/* line 445, ../scss/styles.scss */
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #fff;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
/* line 455, ../scss/styles.scss */
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #ac3442;
}
/* line 462, ../scss/styles.scss */
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* line 468, ../scss/styles.scss */
.bx-wrapper .bx-prev {
  left: 3%;
  background: url(../img/slider-arrow.png) no-repeat;
}
/* line 473, ../scss/styles.scss */
.bx-wrapper .bx-next {
  right: 3%;
  background: url(../img/slider-arrow.png) no-repeat right;
}
/* line 480, ../scss/styles.scss */
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 56px;
  height: 56px;
  text-indent: -9999px;
  z-index: 9999;
  opacity: 0.5;
}
/* line 491, ../scss/styles.scss */
.bx-wrapper .bx-controls-direction a:hover {
  opacity: 1;
}

/* line 504, ../scss/styles.scss */
.row.center {
  text-align: center;
  padding: 5em 0;
}
/* line 508, ../scss/styles.scss */
.row.center h3 {
  color: #ab5c69;
  font-family: "aleoitalic", serif;
  font-size: 1.750em;
}
/* line 515, ../scss/styles.scss */
.row.center p {
  padding: 0 12%;
  color: #6c747b;
  line-height: 130%;
}
/* line 523, ../scss/styles.scss */
.row.center h5 {
  color: #6c747b;
  font-family: "aleoitalic", serif;
  font-size: 1.188em;
  line-height: 110%;
}
/* line 532, ../scss/styles.scss */
.row.center .large-4 p {
  padding: 0;
  font-size: 0.875em;
}
/* line 537, ../scss/styles.scss */
.row.center .large-4 .box {
  background: #fff;
  border-bottom: #ef7b2a 3px solid;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
/* line 542, ../scss/styles.scss */
.row.center .large-4 .box:hover {
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
}
/* line 546, ../scss/styles.scss */
.row.center .large-4 .box .padd {
  padding: 1.1em;
}
/* line 550, ../scss/styles.scss */
.row.center .large-4 .box img {
  width: 100%;
  border: 1px solid #fff;
}
/* line 557, ../scss/styles.scss */
.row.center .icon {
  width: 130px;
  height: 130px;
  background: url(../img/icons_home.png) no-repeat;
  margin: 1em auto;
}
/* line 564, ../scss/styles.scss */
.row.center .icon.i2 {
  background-position: -130px;
}
/* line 568, ../scss/styles.scss */
.row.center .icon.i3 {
  background-position: -260px;
}
/* line 576, ../scss/styles.scss */
.row a.link_text {
  color: #ef7b2a;
  font-size: 1em;
  padding-right: 0.7em;
  position: relative;
  height: auto;
}
/* line 585, ../scss/styles.scss */
.row a.link_text.right:after {
  top: 3px;
}
/* line 590, ../scss/styles.scss */
.row a.link_text:after {
  content: "";
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
  vertical-align: center;
  top: 4px;
}

/* line 601, ../scss/styles.scss */
.grey {
  background: #fbfbfa;
  margin-bottom: 4em;
  -webkit-box-shadow: 0px 0px 3px #bcc0c4 inset;
  -moz-box-shadow: 0px 0px 3px #bcc0c4 inset;
  box-shadow: 0px 0px 3px #bcc0c4 inset;
  position: relative;
}
/* line 607, ../scss/styles.scss */
.grey:after {
  width: 43px;
  height: 13px;
  background: url(../img/arrow-down.png) no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* line 622, ../scss/styles.scss */
.pqr h6 {
  color: #ab5c69;
  font-family: "aleoitalic", serif;
  font-size: 1.5em;
}
/* line 627, ../scss/styles.scss */
.pqr h6.small-h6 {
  font-size: 1.250em;
}
/* line 636, ../scss/styles.scss */
.pqr li {
  line-height: 120%;
  margin: 0.8em 0;
  list-style-image: url(../img/bullet.png);
}
/* line 641, ../scss/styles.scss */
.pqr li a {
  color: #6c747b;
}
/* line 644, ../scss/styles.scss */
.pqr li a.link-text {
  color: #ab5c69;
  position: relative;
  padding-right: 0.7em;
}
/* line 649, ../scss/styles.scss */
.pqr li a.link-text:after {
  content: "";
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
  vertical-align: center;
  top: 2px;
}
/* line 662, ../scss/styles.scss */
.pqr ul.no-margin {
  padding: 0;
  margin-left: 0;
}
/* line 666, ../scss/styles.scss */
.pqr ul.no-margin li {
  list-style: none;
  color: #6c747b;
  padding: 2em 0em;
}
/* line 671, ../scss/styles.scss */
.pqr ul.no-margin li h4 {
  color: #545a60;
  font-family: "Varela Round", sans-serif;
  font-size: 1.2em;
  margin: 0;
}
/* line 679, ../scss/styles.scss */
.pqr ul.no-margin li .n-intro {
  font-size: 0.85em;
  line-height: 130%;
}
/* line 684, ../scss/styles.scss */
.pqr ul.no-margin li .date {
  font-size: 0.77em;
  margin: 0;
}
/* line 691, ../scss/styles.scss */
.pqr ul.no-margin .noti-w {
  padding-bottom: 2em;
  border-bottom: 1px solid #e5e6e8;
}
/* line 695, ../scss/styles.scss */
.pqr ul.no-margin .noti-w:last-child {
  border-bottom: none;
}
/* line 700, ../scss/styles.scss */
.pqr ul.no-margin img {
  border: 2px #fff solid;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
/* line 706, ../scss/styles.scss */
.pqr cite {
  color: #6c747b;
  display: block;
  line-height: 130%;
  padding-left: 2em;
  position: relative;
  margin-top: 1em;
}
/* line 714, ../scss/styles.scss */
.pqr cite:after {
  content: "";
  width: 27px;
  height: 22px;
  background: url(../img/quote.png) no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 726, ../scss/styles.scss */
.pqr .user-pic {
  margin-left: 1em;
  padding: 1em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
/* line 732, ../scss/styles.scss */
.pqr span {
  color: #6c747b;
  font-size: 0.875em;
}
/* line 736, ../scss/styles.scss */
.pqr span.name {
  margin: 1.2em 0 0.2em 0;
  display: block;
  font-size: 1em;
  color: #3c4145;
}

/* line 751, ../scss/styles.scss */
.lt-ie9 .cta-l.banca {
  background: #586e7e;
}
/* line 754, ../scss/styles.scss */
.lt-ie9 .cta-l.pre-a {
  background: #ef7b2a;
}

/* line 760, ../scss/styles.scss */
.cta-l {
  padding: 1em 1em 2em 1em;
  color: #fff;
  margin-top: 1em;
  position: relative;
}
/* line 766, ../scss/styles.scss */
.cta-l.pre-a {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjYTM0ZSIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjZmU5ZjRmIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmYjlkNTQiLz48c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2Y4OTI1MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y3ODU1NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fca34e), color-stop(25%, #fe9f4f), color-stop(50%, #fb9d54), color-stop(75%, #f89253), color-stop(100%, #f78555));
  background-image: -webkit-linear-gradient(left, #fca34e, #fe9f4f, #fb9d54, #f89253, #f78555);
  background-image: -moz-linear-gradient(left, #fca34e, #fe9f4f, #fb9d54, #f89253, #f78555);
  background-image: -o-linear-gradient(left, #fca34e, #fe9f4f, #fb9d54, #f89253, #f78555);
  background-image: linear-gradient(left, #fca34e, #fe9f4f, #fb9d54, #f89253, #f78555);
  text-shadow: 1px 1px 1px #a64c0d;
}
/* line 770, ../scss/styles.scss */
.cta-l.pre-a a {
  -webkit-box-shadow: 1px 1px 1px #d66110;
  -moz-box-shadow: 1px 1px 1px #d66110;
  box-shadow: 1px 1px 1px #d66110;
}
/* line 776, ../scss/styles.scss */
.cta-l h4 {
  color: #fff;
  font-family: "aleoitalic", serif;
  font-size: 1.188em;
  line-height: 120%;
}
/* line 783, ../scss/styles.scss */
.cta-l p {
  font-size: 0.875em;
  line-height: 120%;
  font-weight: lighter;
}
/* line 789, ../scss/styles.scss */
.cta-l .pat {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background: url(../img/pat_banner.png);
}
/* line 798, ../scss/styles.scss */
.cta-l .figure {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background-position: bottom;
  height: 100%;
  background: url(../img/bg-ctas.png) no-repeat;
}
/* line 809, ../scss/styles.scss */
.cta-l a {
  color: #fff;
  border: 1px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 0.5em 1.8em 0.5em 0.7em;
  position: relative;
}
/* line 816, ../scss/styles.scss */
.cta-l a:after {
  font-family: FontAwesome;
  color: #fff;
  content: "";
  position: absolute;
  right: 1em;
  top: 35%;
}
/* line 827, ../scss/styles.scss */
.cta-l.banca {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUzNzg4NSIvPjxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjNTI3Nzg0Ii8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM1MjdiOGEiLz48c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzUwNzA4MiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRmNjc3ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #537885), color-stop(25%, #527784), color-stop(50%, #527b8a), color-stop(75%, #507082), color-stop(100%, #4f677d));
  background-image: -webkit-linear-gradient(left, #537885, #527784, #527b8a, #507082, #4f677d);
  background-image: -moz-linear-gradient(left, #537885, #527784, #527b8a, #507082, #4f677d);
  background-image: -o-linear-gradient(left, #537885, #527784, #527b8a, #507082, #4f677d);
  background-image: linear-gradient(left, #537885, #527784, #527b8a, #507082, #4f677d);
  text-shadow: 1px 1px 1px #2e3a42;
}
/* line 831, ../scss/styles.scss */
.cta-l.banca a {
  -webkit-box-shadow: 1px 1px 1px #435460;
  -moz-box-shadow: 1px 1px 1px #435460;
  box-shadow: 1px 1px 1px #435460;
}

/* line 838, ../scss/styles.scss */
.upper {
  text-transform: uppercase;
}

/* line 842, ../scss/styles.scss */
.cta-contact {
  margin-top: 1em;
}
/* line 846, ../scss/styles.scss */
.cta-contact.social ul {
  margin: 0;
}
/* line 849, ../scss/styles.scss */
.cta-contact.social ul li {
  display: inline-block;
}
/* line 852, ../scss/styles.scss */
.cta-contact.social ul li .fa {
  font-size: 2em;
  padding: 0 10%;
}
/* line 856, ../scss/styles.scss */
.cta-contact.social ul li .fa.fa-facebook-square {
  color: #5e6ea5;
}
/* line 860, ../scss/styles.scss */
.cta-contact.social ul li .fa.fa-youtube-square {
  color: #b83030;
}
/* line 864, ../scss/styles.scss */
.cta-contact.social ul li .fa.fa-twitter-square {
  color: #81b1f0;
}
/* line 868, ../scss/styles.scss */
.cta-contact.social ul li .fa.fa-google-plus-square {
  color: #c25043;
}
/* line 876, ../scss/styles.scss */
.cta-contact .fa {
  margin-right: 0.4em;
  font-size: 0.9em;
}
/* line 881, ../scss/styles.scss */
.cta-contact .upper {
  font-size: 0.7em;
}
/* line 886, ../scss/styles.scss */
.cta-contact .cta-head {
  padding: 1em;
  background: #f5f5f2;
  text-shadow: 0px 1px 0px white;
  color: #ab5c69;
  border: 1px solid #e5e6e8;
}
/* line 893, ../scss/styles.scss */
.cta-contact .cta-head h3 {
  font-family: "aleoitalic", serif;
  font-size: 1.5em;
  color: #ab5c69;
  margin: 0;
}
/* line 901, ../scss/styles.scss */
.cta-contact .cta-head p {
  font-family: "Varela Round", sans-serif;
  margin: 0;
}
/* line 909, ../scss/styles.scss */
.cta-contact .cp-wrap {
  padding: 1em;
  border: 1px solid #e5e6e8;
  border-top: none;
  color: #6c747b;
}
/* line 915, ../scss/styles.scss */
.cta-contact .cp-wrap .p-reg {
  margin-bottom: 1em;
}
/* line 919, ../scss/styles.scss */
.cta-contact .cp-wrap.news {
  border-top: 1px solid #e5e6e8;
}
/* line 923, ../scss/styles.scss */
.cta-contact .cp-wrap.news input {
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  -ms-border-radius: 4px 0px 0px 4px;
  -o-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
}
/* line 927, ../scss/styles.scss */
.cta-contact .cp-wrap.news .orange {
  background: #ef7b2a;
  color: #fff;
  border: none;
  -webkit-border-radius: 0px 4px 4px 0px;
  -moz-border-radius: 0px 4px 4px 0px;
  -ms-border-radius: 0px 4px 4px 0px;
  -o-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
}
/* line 935, ../scss/styles.scss */
.cta-contact .cp-wrap h4 {
  font-family: "aleoitalic", serif;
  font-size: 1.188em;
  color: #6c747b;
  margin: 0;
  margin-bottom: 0;
}
/* line 943, ../scss/styles.scss */
.cta-contact .cp-wrap a {
  color: #ef7b2a;
  text-decoration: underline;
}
/* line 948, ../scss/styles.scss */
.cta-contact .cp-wrap p {
  margin-bottom: 0;
  line-height: 130%;
  margin-top: 0.5em;
}
/* line 954, ../scss/styles.scss */
.cta-contact .cp-wrap .tel {
  font-size: 1.625em;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #6c747b;
  margin: 0;
}
/* line 961, ../scss/styles.scss */
.cta-contact .cp-wrap .tel span {
  font-weight: lighter;
  font-size: inherit;
  margin-top: 0.2em;
}
/* line 968, ../scss/styles.scss */
.cta-contact .cp-wrap .place {
  font-style: italic;
  margin-bottom: 1em;
  display: block;
}

/* line 976, ../scss/styles.scss */
footer {
  background: #f5f5f2;
  border-top: 1px solid #e5e6e8;
  margin-top: 3em;
  padding: 2em 0em;
  text-shadow: 0px 1px 0px white;
}
/* line 983, ../scss/styles.scss */
footer h2 {
  text-indent: -9999px;
}
/* line 986, ../scss/styles.scss */
footer h2 a {
  display: block;
  width: auto;
  min-height: 70px;
  background: url(../img/logo_hipotecaria.svg) no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 995, ../scss/styles.scss */
footer .footer_nav {
  padding-top: 2em;
}
/* line 998, ../scss/styles.scss */
footer .footer_nav li {
  display: inline-block;
  padding: 0 1em;
  border-left: 1px solid #bcc0c4;
}
/* line 1003, ../scss/styles.scss */
footer .footer_nav li:first-child {
  border-left: 0;
}
/* line 1007, ../scss/styles.scss */
footer .footer_nav li a {
  font-family: "aleoregular", serif;
  color: #6c747b;
}
/* line 1015, ../scss/styles.scss */
footer h3 {
  font-family: "Varela Round", sans-serif;
  color: #ab5c69;
  font-size: 1.1em;
  margin-bottom: 0;
}
/* line 1022, ../scss/styles.scss */
footer p {
  color: #6c747b;
  font-size: 0.875em;
  line-height: 120%;
  margin: 0;
}
/* line 1030, ../scss/styles.scss */
footer .legal {
  margin-top: 1.5em;
}
/* line 1034, ../scss/styles.scss */
footer .logos-legal {
  background: url(../img/logos-legal.png) no-repeat;
  height: 66px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 1040, ../scss/styles.scss */
footer .legal-text {
  color: #939aa0;
  font-size: 0.813em;
  text-align: center;
  display: block;
  margin-top: 2em;
}
/* line 1047, ../scss/styles.scss */
footer .legal-text a {
  color: #939aa0;
  text-decoration: underline;
}

/* line 1056, ../scss/styles.scss */
.divider {
  width: 100%;
  height: 3em;
  background: #fff;
  position: relative;
  margin-bottom: 3em;
  margin-top: 0.5em;
}
/* line 1064, ../scss/styles.scss */
.divider:after {
  content: "";
  width: 98%;
  position: absolute;
  background: #fff;
  height: 3px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0px 1px 2px #c9cdd0;
  -moz-box-shadow: 0px 1px 2px #c9cdd0;
  box-shadow: 0px 1px 2px #c9cdd0;
  z-index: -1;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 1087, ../scss/styles.scss */
  .cta-contact .cp-wrap {
    border: none;
  }
  /* line 1090, ../scss/styles.scss */
  .cta-contact .cp-wrap.news {
    border: 1px solid #e5e6e8;
  }
  /* line 1095, ../scss/styles.scss */
  .cta-contact .border-wrap {
    border: 1px solid #e5e6e8;
    border-top: none;
  }
  /* line 1104, ../scss/styles.scss */
  .cta-contact .row .row.no-margin {
    margin: 0;
  }

  /* line 1113, ../scss/styles.scss */
  .banner.carrousel .slide {
    position: relative;
    height: 320px;
  }
  /* line 1118, ../scss/styles.scss */
  .banner.carrousel .slide img.absolute {
    max-width: 115%;
  }
  /* line 1123, ../scss/styles.scss */
  .banner.carrousel .slide h4 {
    margin-top: 3em;
  }
  /* line 1127, ../scss/styles.scss */
  .banner.carrousel .slide .big-b {
    font-size: 16px;
  }
  /* line 1131, ../scss/styles.scss */
  .banner.carrousel .slide p {
    font-size: 15px;
  }

  /* line 1138, ../scss/styles.scss */
  .banner-c {
    font-size: 0.8em;
    padding-right: 6em;
  }

  /* line 1150, ../scss/styles.scss */
  footer h3 {
    font-size: 0.9em;
  }
  /* line 1154, ../scss/styles.scss */
  footer p {
    font-size: 0.8em;
  }
  /* line 1158, ../scss/styles.scss */
  footer .legal {
    margin-top: 0.7em;
  }
  /* line 1162, ../scss/styles.scss */
  footer .footer_nav {
    padding-top: 1.1em;
  }
  /* line 1166, ../scss/styles.scss */
  footer .footer_nav ul {
    margin-left: 0;
  }
  /* line 1170, ../scss/styles.scss */
  footer .footer_nav li {
    padding: 0 0.5em;
  }
  /* line 1173, ../scss/styles.scss */
  footer .footer_nav li a {
    font-size: 0.95em;
  }
}
@media only screen and (max-width: 40em) {
  /* line 1188, ../scss/styles.scss */
  .banner.carrousel .slide {
    height: 520px;
  }
  /* line 1191, ../scss/styles.scss */
  .banner.carrousel .slide h4 {
    margin-top: 265px;
    font-size: 0.92em;
  }
  /* line 1196, ../scss/styles.scss */
  .banner.carrousel .slide h2 {
    font-size: 1.5em;
    text-shadow: none;
  }
  /* line 1201, ../scss/styles.scss */
  .banner.carrousel .slide a {
    color: #fff;
    font-size: 0.9em;
    border: 0;
  }
  /* line 1209, ../scss/styles.scss */
  .banner.carrousel .slide.orange_bg h2 {
    color: #ef7b2a;
  }
  /* line 1214, ../scss/styles.scss */
  .banner.carrousel .slide.orange_bg a {
    background: #ef7b2a;
  }
  /* line 1222, ../scss/styles.scss */
  .banner.carrousel .slide.red_bg h2 {
    color: #ab5c69;
  }
  /* line 1227, ../scss/styles.scss */
  .banner.carrousel .slide.red_bg a {
    background: #ab5c69;
  }
  /* line 1234, ../scss/styles.scss */
  .banner.carrousel .slide p {
    color: #6c747b;
    font-size: 0.9em;
  }
  /* line 1239, ../scss/styles.scss */
  .banner.carrousel .slide .banner-c {
    z-index: 99999;
  }
  /* line 1245, ../scss/styles.scss */
  .banner .bg-mobile {
    position: absolute;
    background: #fffefc;
    width: 100%;
    height: 55%;
    bottom: 0;
    z-index: 1;
  }

  /* line 1261, ../scss/styles.scss */
  .bx-wrapper .bx-pager.bx-default-pager a {
    background: #bfbfbf;
  }

  /* line 1267, ../scss/styles.scss */
  .bx-wrapper .bx-controls-direction a {
    top: 33%;
  }

  /* line 1271, ../scss/styles.scss */
  .logo {
    margin-bottom: 40%;
  }

  /* line 1276, ../scss/styles.scss */
  header {
    padding-top: 1em;
  }

  /* line 1280, ../scss/styles.scss */
  .menu-mobile {
    margin-top: 30px;
  }
  /* line 1283, ../scss/styles.scss */
  .menu-mobile.right {
    margin-right: 10px;
  }
  /* line 1287, ../scss/styles.scss */
  .menu-mobile .fa-search {
    padding-right: 0.4em;
  }
  /* line 1291, ../scss/styles.scss */
  .menu-mobile a {
    color: #6c747b;
    font-size: 1.3em;
    padding: 0.2em 0.4em;
    background: #f2f3f4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin-top: 4em;
  }
  /* line 1299, ../scss/styles.scss */
  .menu-mobile a:hover {
    color: #ef7b2a;
  }

  /* line 1307, ../scss/styles.scss */
  .row.center {
    text-align: center;
  }
  /* line 1311, ../scss/styles.scss */
  .row.center h3 {
    color: #ab5c69;
    font-family: "aleoitalic", serif;
    font-size: 1.4em;
    line-height: 130%;
  }
  /* line 1319, ../scss/styles.scss */
  .row.center p {
    padding: 0;
    color: #6c747b;
    line-height: 130%;
  }

  /* line 1330, ../scss/styles.scss */
  .grey {
    margin-bottom: 0;
  }
  /* line 1333, ../scss/styles.scss */
  .grey .box {
    margin-top: 1em;
  }

  /* line 1340, ../scss/styles.scss */
  .mobile-sub-menu ul {
    margin: 0;
  }
  /* line 1344, ../scss/styles.scss */
  .mobile-sub-menu li {
    list-style: none;
    font-size: 1.05em;
    padding: 0.8em 1em;
    border-top: 1px solid #d7dadc;
  }
  /* line 1350, ../scss/styles.scss */
  .mobile-sub-menu li:last-child {
    border-bottom: 1px solid #d7dadc;
  }
  /* line 1355, ../scss/styles.scss */
  .mobile-sub-menu a {
    font-family: "aleoregular", serif;
    color: #6c747b;
  }

  /* line 1365, ../scss/styles.scss */
  footer .legal h3 {
    font-size: 0.75em;
  }
  /* line 1369, ../scss/styles.scss */
  footer .legal p {
    font-size: 0.6em;
  }
  /* line 1377, ../scss/styles.scss */
  footer h2 a {
    background-position: center;
    margin: 0 auto;
    width: 60%;
  }
  /* line 1384, ../scss/styles.scss */
  footer .legal-text {
    font-size: 0.713em;
  }
  /* line 1388, ../scss/styles.scss */
  footer .footer_nav {
    padding: 0;
  }
  /* line 1392, ../scss/styles.scss */
  footer .footer_nav.right {
    float: none !important;
  }
  /* line 1398, ../scss/styles.scss */
  footer .footer_nav ul {
    margin: 0;
  }
  /* line 1402, ../scss/styles.scss */
  footer .footer_nav li {
    border: 0;
    text-align: left;
    display: block;
    font-size: 1em;
    margin: 0.4em 0;
    text-align: center;
  }
}
