@font-face {
  font-family: 'aleoregular';
  src: url("../resources/fonts/Aleo-Regular-webfont.eot");
  src: url("../resources/fonts/Aleo-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/Aleo-Regular-webfont.woff") format("woff"), url("../resources/fonts/Aleo-Regular-webfont.ttf") format("truetype"), url("../resources/fonts/Aleo-Regular-webfont.svg#aleoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aleoitalic';
  src: url("../resources/fonts/Aleo-Italic-webfont.eot");
  src: url("../resources/fonts/Aleo-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/Aleo-Italic-webfont.woff") format("woff"), url("../resources/fonts/Aleo-Italic-webfont.ttf") format("truetype"), url("../resources/fonts/Aleo-Italic-webfont.svg#aleoitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 27, ../scss/styles.scss */
body {
  font-family: "Lato", sans-serif;
}

/* line 31, ../scss/styles.scss */
.utilities_nav {
  float: right;
  padding-top: 0.3em;
  margin-bottom: 0;
}
/* line 36, ../scss/styles.scss */
.utilities_nav li {
  display: inline-block;
  padding: 0.5em;
  font-size: 0.875em;
  letter-spacing: -0.01em;
}
/* line 43, ../scss/styles.scss */
.utilities_nav li.tool a {
  color: #3c4145;
}
/* line 49, ../scss/styles.scss */
.utilities_nav li.special a {
  padding: 0.5em;
  background: #f2f3f4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #d7dadc;
  color: #3c4145;
}
/* line 59, ../scss/styles.scss */
.utilities_nav li a {
  color: #6c747b;
}
/* line 62, ../scss/styles.scss */
.utilities_nav li a:hover {
  color: #9a4d54;
}

/* line 69, ../scss/styles.scss */
.logo {
  text-indent: -9999px;
}
/* line 72, ../scss/styles.scss */
.logo a {
  background: url(../img/logo_la_hipotecaria.png) no-repeat center;
  width: 220px;
  height: 65px;
  display: block;
}

/* line 80, ../scss/styles.scss */
header {
  -webkit-box-shadow: rgba(108, 116, 123, 0.5) 0px 1px 2px;
  -moz-box-shadow: rgba(108, 116, 123, 0.5) 0px 1px 2px;
  box-shadow: rgba(108, 116, 123, 0.5) 0px 1px 2px;
  z-index: 999;
  position: relative;
}
/* line 85, ../scss/styles.scss */
header .search_bar {
  margin-top: 20px;
}

/* line 92, ../scss/styles.scss */
.relative {
  position: relative;
}

/* line 96, ../scss/styles.scss */
.absolute {
  position: absolute;
}

/* line 100, ../scss/styles.scss */
input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: #a1a7ac 1px solid;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}

/* line 106, ../scss/styles.scss */
.nav_bar {
  background: #f8f8f9;
  margin: 0.7em 0 0 0;
}
/* line 110, ../scss/styles.scss */
.nav_bar ul {
  padding: 0.5em 0;
  margin: 0;
}
/* line 115, ../scss/styles.scss */
.nav_bar li {
  display: inline-block;
  font-family: "aleoregular", serif;
  padding: 0 0.5em;
}
/* line 120, ../scss/styles.scss */
.nav_bar li a {
  color: #6c747b;
  font-size: 0.92em;
}
/* line 126, ../scss/styles.scss */
.nav_bar .absolute {
  right: 0;
}
/* line 130, ../scss/styles.scss */
.nav_bar .main-cta {
  background: #fff;
  border: 1px solid #e5e6e8;
  padding: 0.7em;
}
/* line 135, ../scss/styles.scss */
.nav_bar .main-cta p {
  color: #6c747b;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  margin: 10px 0 0 0;
}
/* line 142, ../scss/styles.scss */
.nav_bar .main-cta p span {
  font-size: 14px;
  font-weight: normal;
}

/* line 151, ../scss/styles.scss */
a.button {
  font-family: "Varela Round", sans-serif;
  margin-bottom: 0;
}

/* line 156, ../scss/styles.scss */
.button.tiny {
  font-size: 13px;
  font-weight: lighter;
  text-shadow: #ac621f 0px 1px 0px;
}

/* line 163, ../scss/styles.scss */
a.orange {
  background: #d77a27;
  font-size: 20px;
  color: #fff;
}
/* line 168, ../scss/styles.scss */
a.orange.hover {
  background: #eb7913;
}

/* line 173, ../scss/styles.scss */
.banner {
  color: #fff;
}
/* line 177, ../scss/styles.scss */
.banner .orange_bg {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiOWY0MCIvPjxzdG9wIG9mZnNldD0iMzMuMzMzMzMlIiBzdG9wLWNvbG9yPSIjZTdhMTU4Ii8+PHN0b3Agb2Zmc2V0PSI2Ni42NjY2NyUiIHN0b3AtY29sb3I9IiNkZjhmNTYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMjcxNGUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #db9f40), color-stop(33.33333%, #e7a158), color-stop(66.66667%, #df8f56), color-stop(100%, #d2714e));
  background-image: -webkit-linear-gradient(left, #db9f40, #e7a158, #df8f56, #d2714e);
  background-image: -moz-linear-gradient(left, #db9f40, #e7a158, #df8f56, #d2714e);
  background-image: -o-linear-gradient(left, #db9f40, #e7a158, #df8f56, #d2714e);
  background-image: linear-gradient(left, #db9f40, #e7a158, #df8f56, #d2714e);
}
/* line 181, ../scss/styles.scss */
.banner .orange_bg h4 {
  color: #6b3d13;
}
/* line 185, ../scss/styles.scss */
.banner .orange_bg h2 {
  text-shadow: 1px 1px 0px rgba(129, 73, 23, 0.3);
}
/* line 191, ../scss/styles.scss */
.banner.carrousel .slide {
  height: 430px;
}
/* line 197, ../scss/styles.scss */
.banner h4 {
  font-family: "aleoitalic", serif;
  font-size: 20px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}
/* line 203, ../scss/styles.scss */
.banner h2 {
  font-size: 2em;
  line-height: 100%;
  font-family: "aleoitalic", serif;
  color: #fff;
  font-weight: lighter;
}
/* line 211, ../scss/styles.scss */
.banner p {
  font-size: 16px;
  line-height: 120%;
  font-weight: lighter;
}
/* line 217, ../scss/styles.scss */
.banner a {
  color: #fff;
  font-family: "Varela Round", sans-serif;
  font-size: 17px;
  border: 2px solid #fff;
}
